<div class='color-{{ section.settings.color_scheme }} twcss-overflow-hidden gradient'>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div class='twcss-w-full'>
        <img
          class='twcss-mx-auto twcss-max-w-[50rem] twcss-w-full twcss-pt-[5rem]'
          src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/logo.png?v=1652179013'
          alt='fda logos'
          width='auto'
          height='auto'
        >
        <style>
          .accordion-header {
            padding: 2rem 2rem 2.4rem 4rem;
            width: 100%;
            text-align: left;
            cursor: pointer;
            font-weight: bold;
            border-bottom: 1px solid #000;
            transition: background 0.3s;
            font-size: 1.8rem;
            color: #000;
            position: relative;
          }

          .accordion-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.4s ease;
          }

          .accordion-inner {
            padding: 2rem 0 2rem 4rem;
          }

          .accordion-header:after {
            content: '+';
            font-size: 2.4rem;
            position: absolute;
            left: 1rem;
            line-height: 2.6rem;
          }
          .accordion-header.active:after {
            content: '-';
          }
          @media (max-width: 990px) {
            .accordion-header {
              font-size: 1.5rem;
            }
            .accordion-header:after {
              content: '+';
              font-size: 2.4rem;
              left: 1rem;
              line-height: 2.6rem;
              top: 1.7rem;
            }
          }
        </style>

        <!--  -->
        <div class='accordion' id='accordion'></div>
        <!--  -->

        <div class='twcss-pt-[5rem]'>
          <div>
            <h2 class='lg:twcss-text-[8rem] twcss-text-[2.8rem] twcss-font-bold twcss-text-center twcss-mb-[3rem]'>
              2 Simple Ingredients. Powerful Results.
            </h2>
            <div class='twcss-flex lg:twcss-flex-row twcss-flex-col lg:twcss-gap-[4rem] twcss-gap-[1.4rem] lg:twcss-mb-[8rem] twcss-mb-[4rem]'>
              <div class='lg:twcss-w-1/2 w-full twcss-flex twcss-items-center twcss-justify-center'>
                <img
                  src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/CAYENNE_PEPPER_-_DESKTOP.png?v=1762364012'
                  alt='doctor'
                  width='auto'
                  height='auto'
                  class='twcss-w-full'
                >
              </div>
              <div class='lg:twcss-w-1/2 w-full twcss-flex twcss-items-center twcss-justify-center'>
                <img
                  src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/OAT_FIBER_-_DESKTOP.png?v=1762364012'
                  alt='supplement 1'
                  width='auto'
                  height='auto'
                  class='twcss-w-full'
                >
              </div>
            </div>

            <h2 class='lg:twcss-text-[8rem] twcss-text-[2.5rem] twcss-font-bold twcss-text-center lg:twcss-mb-[4.5rem] twcss-mb-[2.5rem]'>
              Most Fiber Supplements Use the Wrong Ingredient
            </h2>
            <p class='lg:twcss-text-[3rem] twcss-text-[1.4rem] twcss-font-semibold twcss-text-center twcss-mb-[4rem]'>
              Metamucil and most “fiber” powders all rely on psyllium husk — but that’s actually part of the problem.
            </p>
            <div
              class='twcss-flex twcss-flex-row twcss-flex-wrap twcss-justify-center lg:twcss-mb-[6rem] twcss-mb-[1.4rem]'
            >
              <div class='lg:twcss-px-[3rem] lg:twcss-w-1/5 twcss-w-1/3'>
                <img
                  src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/WRONG_SUPPLEMENT_1.png?v=1762364012'
                  alt='doctor'
                  width='auto'
                  height='auto'
                >
              </div>
              <div class='lg:twcss-px-[3rem] lg:twcss-w-1/5 twcss-w-1/3'>
                <img
                  src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/WRONG_SUPPLEMENT_2.png?v=1762364012'
                  alt='doctor'
                  width='auto'
                  height='auto'
                >
              </div>
              <div class='lg:twcss-px-[3rem] lg:twcss-w-1/5 twcss-w-1/3'>
                <img
                  src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/WRONG_SUPPLEMENT_3.png?v=1762364012'
                  alt='doctor'
                  width='auto'
                  height='auto'
                >
              </div>
              <div class='lg:twcss-px-[3rem] lg:twcss-w-1/5 twcss-w-1/3'>
                <img
                  src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/WRONG_SUPPLEMENT_4.png?v=1762364012'
                  alt='doctor'
                  width='auto'
                  height='auto'
                >
              </div>
              <div class='lg:twcss-px-[3rem] lg:twcss-w-1/5 twcss-w-1/3'>
                <img
                  src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/WRONG_SUPPLEMENT_5.png?v=1762364012'
                  alt='doctor'
                  width='auto'
                  height='auto'
                >
              </div>
            </div>

            <p class='lg:twcss-text-[3rem] twcss-text-[1.4rem] twcss-font-semibold twcss-text-center lg:twcss-mb-[3rem] twcss-mb-[1rem] twcss-italic'>
              All of these rely on psyllium husk — and that’s where the problems start.
            </p>
            <div
              class='twcss-flex lg:twcss-flex-row twcss-flex-col lg:twcss-mb-[6rem] twcss-mb-[3rem] lg:twcss-gap-[5rem]'
            >
              <div class='lg:twcss-w-1/2 w-full '>
                <div class='twcss-flex twcss-justify-center'>
                  <img
                    src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/The_problem_with....png?v=1762364014'
                    alt='doctor'
                    width='auto'
                    height='auto'
                    class='lg:twcss-w-[38rem] twcss-w-[14rem]'
                  >
                </div>
                <h3 class='lg:twcss-text-[4.5rem] twcss-text-[1.8rem] twcss-font-semibold twcss-mb-[1.6rem]'>
                  The Problem with Psyllium Husk
                </h3>
                <ul>
                  <li>
                    <div class='twcss-flex twcss-mb-[2rem]'>
                      <span class='lg:twcss-mr-[1.4rem] lg:twcss-mt-[.5rem] twcss-mr-[.6rem] twcss-mt-[.3rem] lg:twcss-w-[4rem] twcss-w-[1.6rem] lg:twcss-h-[4rem] twcss-h-[1.6rem] twcss-block twcss-align-top twcss-shrink-0'>
                        <svg
                          xmlns='http://www.w3.org/2000/svg'
                          width='36'
                          height='35'
                          viewBox='0 0 36 35'
                          fill='none'
                          class='twcss-w-full twcss-h-full'
                        >
                          <path d="M17.7118 11.6275L6.21921 0L0 6.35441L12.0324 17.441L0 28.3923L6.21921 34.3412L17.7118 23.1194L28.9332 34.3412L35.4229 28.3923L22.9843 17.441L35.4229 6.35441L28.9332 0L17.7118 11.6275Z" fill="#E8202E"/>
                        </svg></span
                      ><span class='lg:twcss-text-[3.5rem] twcss-text-[1.6rem] twcss-tracking-tighter twcss-leading-tight'
                        >Turns into a thick gel that clogs your gut</span
                      >
                    </div>
                  </li>
                  <li>
                    <div class='twcss-flex twcss-mb-[2rem]'>
                      <span class='lg:twcss-mr-[1.4rem] lg:twcss-mt-[.5rem] twcss-mr-[.6rem] twcss-mt-[.3rem] lg:twcss-w-[4rem] twcss-w-[1.6rem] lg:twcss-h-[4rem] twcss-h-[1.6rem] twcss-block twcss-align-top twcss-shrink-0'>
                        <svg
                          xmlns='http://www.w3.org/2000/svg'
                          width='36'
                          height='35'
                          viewBox='0 0 36 35'
                          fill='none'
                          class='twcss-w-full twcss-h-full'
                        >
                          <path d="M17.7118 11.6275L6.21921 0L0 6.35441L12.0324 17.441L0 28.3923L6.21921 34.3412L17.7118 23.1194L28.9332 34.3412L35.4229 28.3923L22.9843 17.441L35.4229 6.35441L28.9332 0L17.7118 11.6275Z" fill="#E8202E"/>
                        </svg></span
                      ><span class='lg:twcss-text-[3.5rem] twcss-text-[1.6rem] twcss-tracking-tighter twcss-leading-tight'
                        >Can make constipation worse if you’re even a little dehydrated</span
                      >
                    </div>
                  </li>
                  <li>
                    <div class='twcss-flex twcss-mb-[2rem]'>
                      <span class='lg:twcss-mr-[1.4rem] lg:twcss-mt-[.5rem] twcss-mr-[.6rem] twcss-mt-[.3rem] lg:twcss-w-[4rem] twcss-w-[1.6rem] lg:twcss-h-[4rem] twcss-h-[1.6rem] twcss-block twcss-align-top twcss-shrink-0'>
                        <svg
                          xmlns='http://www.w3.org/2000/svg'
                          width='36'
                          height='35'
                          viewBox='0 0 36 35'
                          fill='none'
                          class='twcss-w-full twcss-h-full'
                        >
                          <path d="M17.7118 11.6275L6.21921 0L0 6.35441L12.0324 17.441L0 28.3923L6.21921 34.3412L17.7118 23.1194L28.9332 34.3412L35.4229 28.3923L22.9843 17.441L35.4229 6.35441L28.9332 0L17.7118 11.6275Z" fill="#E8202E"/>
                        </svg></span
                      ><span class='lg:twcss-text-[3.5rem] twcss-text-[1.6rem] twcss-tracking-tighter twcss-leading-tight'
                        >Commonly causes bloating, cramps, and gas</span
                      >
                    </div>
                  </li>
                  <li>
                    <div class='twcss-flex twcss-mb-[2rem]'>
                      <span class='lg:twcss-mr-[1.4rem] lg:twcss-mt-[.5rem] twcss-mr-[.6rem] twcss-mt-[.3rem] lg:twcss-w-[4rem] twcss-w-[1.6rem] lg:twcss-h-[4rem] twcss-h-[1.6rem] twcss-block twcss-align-top twcss-shrink-0'>
                        <svg
                          xmlns='http://www.w3.org/2000/svg'
                          width='36'
                          height='35'
                          viewBox='0 0 36 35'
                          fill='none'
                          class='twcss-w-full twcss-h-full'
                        >
                          <path d="M17.7118 11.6275L6.21921 0L0 6.35441L12.0324 17.441L0 28.3923L6.21921 34.3412L17.7118 23.1194L28.9332 34.3412L35.4229 28.3923L22.9843 17.441L35.4229 6.35441L28.9332 0L17.7118 11.6275Z" fill="#E8202E"/>
                        </svg></span
                      ><span class='lg:twcss-text-[3.5rem] twcss-text-[1.6rem] twcss-tracking-tighter twcss-leading-tight'
                        >Feels heavy and slows digestion</span
                      >
                    </div>
                  </li>
                  <li>
                    <div class='twcss-flex twcss-mb-[2rem]'>
                      <span class='lg:twcss-mr-[1.4rem] lg:twcss-mt-[.5rem] twcss-mr-[.6rem] twcss-mt-[.3rem] lg:twcss-w-[4rem] twcss-w-[1.6rem] lg:twcss-h-[4rem] twcss-h-[1.6rem] twcss-block twcss-align-top twcss-shrink-0'>
                        <svg
                          xmlns='http://www.w3.org/2000/svg'
                          width='36'
                          height='35'
                          viewBox='0 0 36 35'
                          fill='none'
                          class='twcss-w-full twcss-h-full'
                        >
                          <path d="M17.7118 11.6275L6.21921 0L0 6.35441L12.0324 17.441L0 28.3923L6.21921 34.3412L17.7118 23.1194L28.9332 34.3412L35.4229 28.3923L22.9843 17.441L35.4229 6.35441L28.9332 0L17.7118 11.6275Z" fill="#E8202E"/>
                        </svg></span
                      ><span class='lg:twcss-text-[3.5rem] twcss-text-[1.6rem] twcss-tracking-tighter twcss-leading-tight'
                        >Leaves you feeling full but still backed up</span
                      >
                    </div>
                  </li>
                </ul>
              </div>
              <div class='lg:twcss-w-1/2 w-full lg:twcss-mb-[1.2rem]'>
                <div class='twcss-flex twcss-justify-center'>
                  <img
                    src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/Why_Easy_Flow_Fiber.....png?v=1762364014'
                    alt='doctor'
                    width='auto'
                    height='auto'
                    class='lg:twcss-w-[38rem] twcss-w-[14rem]'
                  >
                </div>
                <h3 class='lg:twcss-text-[4.5rem] twcss-text-[1.8rem] twcss-font-semibold twcss-mb-[1.6rem]'>
                  Why Easy-Flow Fiber Works Better
                </h3>
                <ul>
                  <li>
                    <div class='twcss-flex twcss-mb-[2rem]'>
                      <span class='lg:twcss-mr-[1.4rem] lg:twcss-mt-[.5rem] twcss-mr-[.6rem] twcss-mt-[.3rem] lg:twcss-w-[4rem] twcss-w-[1.6rem] lg:twcss-h-[4rem] twcss-h-[1.6rem] twcss-block twcss-align-top twcss-shrink-0'>
                        <svg
                          xmlns='http://www.w3.org/2000/svg'
                          width='40'
                          height='36'
                          viewBox='0 0 40 36'
                          fill='none'
                          class='twcss-w-full twcss-h-full'
                        >
                          <path d="M5.92577 12.4585L0 18.3843L17.1709 35.4033L39.0946 5.85746L33.007 0L16.0512 23.6504L5.92577 12.4585Z" fill="#7ED957"/>
                        </svg></span
                      ><span class='lg:twcss-text-[3.5rem] twcss-text-[1.6rem] twcss-tracking-tighter twcss-leading-tight'
                        >Made with oat fiber and cayenne — no psyllium husk</span
                      >
                    </div>
                  </li>
                  <li>
                    <div class='twcss-flex twcss-mb-[2rem]'>
                      <span class='lg:twcss-mr-[1.4rem] lg:twcss-mt-[.5rem] twcss-mr-[.6rem] twcss-mt-[.3rem] lg:twcss-w-[4rem] twcss-w-[1.6rem] lg:twcss-h-[4rem] twcss-h-[1.6rem] twcss-block twcss-align-top twcss-shrink-0'>
                        <svg
                          xmlns='http://www.w3.org/2000/svg'
                          width='40'
                          height='36'
                          viewBox='0 0 40 36'
                          fill='none'
                          class='twcss-w-full twcss-h-full'
                        >
                          <path d="M5.92577 12.4585L0 18.3843L17.1709 35.4033L39.0946 5.85746L33.007 0L16.0512 23.6504L5.92577 12.4585Z" fill="#7ED957"/>
                        </svg></span
                      ><span class='lg:twcss-text-[3.5rem] twcss-text-[1.6rem] twcss-tracking-tighter twcss-leading-tight'
                        >Softens stool and keeps things moving naturally</span
                      >
                    </div>
                  </li>
                  <li>
                    <div class='twcss-flex twcss-mb-[2rem]'>
                      <span class='lg:twcss-mr-[1.4rem] lg:twcss-mt-[.5rem] twcss-mr-[.6rem] twcss-mt-[.3rem] lg:twcss-w-[4rem] twcss-w-[1.6rem] lg:twcss-h-[4rem] twcss-h-[1.6rem] twcss-block twcss-align-top twcss-shrink-0'>
                        <svg
                          xmlns='http://www.w3.org/2000/svg'
                          width='40'
                          height='36'
                          viewBox='0 0 40 36'
                          fill='none'
                          class='twcss-w-full twcss-h-full'
                        >
                          <path d="M5.92577 12.4585L0 18.3843L17.1709 35.4033L39.0946 5.85746L33.007 0L16.0512 23.6504L5.92577 12.4585Z" fill="#7ED957"/>
                        </svg></span
                      ><span class='lg:twcss-text-[3.5rem] twcss-text-[1.6rem] twcss-tracking-tighter twcss-leading-tight'
                        >Won’t cause bloating or form gel in your gut</span
                      >
                    </div>
                  </li>
                  <li>
                    <div class='twcss-flex twcss-mb-[2rem]'>
                      <span class='lg:twcss-mr-[1.4rem] lg:twcss-mt-[.5rem] twcss-mr-[.6rem] twcss-mt-[.3rem] lg:twcss-w-[4rem] twcss-w-[1.6rem] lg:twcss-h-[4rem] twcss-h-[1.6rem] twcss-block twcss-align-top twcss-shrink-0'>
                        <svg
                          xmlns='http://www.w3.org/2000/svg'
                          width='40'
                          height='36'
                          viewBox='0 0 40 36'
                          fill='none'
                          class='twcss-w-full twcss-h-full'
                        >
                          <path d="M5.92577 12.4585L0 18.3843L17.1709 35.4033L39.0946 5.85746L33.007 0L16.0512 23.6504L5.92577 12.4585Z" fill="#7ED957"/>
                        </svg></span
                      ><span class='lg:twcss-text-[3.5rem] twcss-text-[1.6rem] twcss-tracking-tighter twcss-leading-tight'
                        >Works even when water intake is low</span
                      >
                    </div>
                  </li>
                  <li>
                    <div class='twcss-flex twcss-mb-[2rem]'>
                      <span class='lg:twcss-mr-[1.4rem] lg:twcss-mt-[.5rem] twcss-mr-[.6rem] twcss-mt-[.3rem] lg:twcss-w-[4rem] twcss-w-[1.6rem] lg:twcss-h-[4rem] twcss-h-[1.6rem] twcss-block twcss-align-top twcss-shrink-0'>
                        <svg
                          xmlns='http://www.w3.org/2000/svg'
                          width='40'
                          height='36'
                          viewBox='0 0 40 36'
                          fill='none'
                          class='twcss-w-full twcss-h-full'
                        >
                          <path d="M5.92577 12.4585L0 18.3843L17.1709 35.4033L39.0946 5.85746L33.007 0L16.0512 23.6504L5.92577 12.4585Z" fill="#7ED957"/>
                        </svg></span
                      ><span class='lg:twcss-text-[3.5rem] twcss-text-[1.6rem] twcss-tracking-tighter twcss-leading-tight'
                        >Gentle, pain-free relief you can actually feel</span
                      >
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <p class='lg:twcss-text-[3rem] twcss-text-[1.4rem] twcss-font-semibold twcss-text-center lg:twcss-mb-[8rem] twcss-mb-[4rem]'>
              If you’ve tried “fiber” before and still felt blocked — this is why.
            </p>

            <!-- start testimonials -->
            <div class='lg:twcss-pb-[8rem] twcss-pb-[4rem]'>
              <!--
                div row
                div col
                  img
                  stars
                  description
                  author
              -->
              <h3 class='lg:twcss-text-[7rem] twcss-text-[4.5rem] twcss-font-bold twcss-text-center twcss-mb-[4rem]'>
                Testimonials
              </h3>
              <div class='twcss-flex lg:twcss-flex-row twcss-flex-col twcss-justify-center twcss-max-w-[70rem] lg:twcss-gap-[7rem] twcss-gap-[4rem] twcss-m-auto'>
                <div class='lg:twcss-w-1/2 twcss-w-full twcss-text-center'>
                  <img
                    src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/Testimonial_2_4ebb0155-b04e-4968-a146-5373910a0c60.png?v=1762364013'
                    alt='Amazon Customer testimonial'
                    class='twcss-w-full twcss-object-cover twcss-rounded-3xl twcss-mb-[2.4rem]'
                  >
                  <div class='twcss-h-[3rem] twcss-mb-[2.4rem]'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      class='twcss-mx-auto twcss-w-full'
                      width='202'
                      height='30'
                      fill='none'
                      viewBox='0 0 202 30'
                    >
                      <path fill="#FFAE34" fill-rule="evenodd" d="M5.98916 29.9211c-.30996 0-.61843-.0957-.87898-.2842-.44923-.3262-.68283-.8737-.60346-1.4242l1.3911-9.7301-5.459598-5.456c-.3968164-.3964-.5375739-.9799-.3668679-1.514.1707059-.534.6259219-.9275 1.1784659-1.0188L9.48265 9.122 13.6335.828097c.2561-.510141.8176-.8467447 1.3477-.82729652.5705.00299203 1.0886.32912352 1.3387.84225652L20.294 8.99933l8.4185 1.49747c.5496.0973.9988.4922 1.1665 1.0233.1677.5326.0255 1.1131-.3698 1.5065l-5.4611 5.456 1.3926 9.7301c.0778.5535-.1558 1.104-.611 1.4286-.4537.3262-1.0527.3696-1.5483.1182l-8.2029-4.1499-8.42598 4.1559c-.20964.1047-.43725.1556-.66336.1556Zm42.78324 0c-.31 0-.6185-.0957-.879-.2842-.4492-.3262-.6828-.8737-.6035-1.4242l1.3911-9.7301-5.4596-5.456c-.3968-.3964-.5375-.9799-.3668-1.514.1707-.534.6259-.9275 1.1784-1.0188l8.2328-1.3718L56.4167.828097c.2561-.510141.8176-.8467447 1.3477-.82729652.5705.00299203 1.0886.32912352 1.3387.84225652l3.9741 8.156273 8.4185 1.49747c.5496.0973.9988.4922 1.1665 1.0233.1677.5326.0255 1.1131-.3698 1.5065l-5.4611 5.456 1.3926 9.7301c.0778.5535-.1558 1.104-.611 1.4286-.4537.3262-1.0527.3696-1.5483.1182l-8.2029-4.1499-8.426 4.1559c-.2096.1047-.4372.1556-.6633.1556Zm42.7834 0c-.31 0-.6184-.0957-.879-.2842-.4492-.3262-.6828-.8737-.6034-1.4242l1.3911-9.7301-5.4596-5.456c-.3968-.3964-.5376-.9799-.3669-1.514.1707-.534.6259-.9275 1.1785-1.0188l8.2328-1.3718L99.2001.828097c.2561-.510141.8179-.8467447 1.3479-.82729652.57.00299203 1.088.32912352 1.339.84225652l3.974 8.156273 8.418 1.49747c.55.0973.999.4922 1.167 1.0233.167.5326.025 1.1131-.37 1.5065l-5.461 5.456 1.392 9.7301c.078.5535-.155 1.104-.611 1.4286-.453.3262-1.052.3696-1.548.1182l-8.203-4.1499-8.4258 4.1559c-.2097.1047-.4373.1556-.6634.1556Zm42.7832 0c-.31 0-.619-.0957-.879-.2842-.449-.3262-.683-.8737-.604-1.4242l1.391-9.7301-5.459-5.456c-.397-.3964-.538-.9799-.367-1.514.171-.534.626-.9275 1.178-1.0188l8.233-1.3718 4.151-8.293903c.256-.510141.818-.8467447 1.348-.82729652.57.00299203 1.088.32912352 1.338.84225652l3.975 8.156273 8.418 1.49747c.55.0973.999.4922 1.167 1.0233.167.5326.025 1.1131-.37 1.5065l-5.461 5.456 1.392 9.7301c.078.5535-.155 1.104-.611 1.4286-.453.3262-1.052.3696-1.548.1182l-8.203-4.1499-8.426 4.1559c-.21.1047-.437.1556-.663.1556Zm42.783 0c-.31 0-.618-.0957-.879-.2842-.449-.3262-.682-.8737-.603-1.4242l1.391-9.7301-5.459-5.456c-.397-.3964-.538-.9799-.367-1.514.17-.534.626-.9275 1.178-1.0188l8.233-1.3718 4.151-8.293903c.256-.510141.817-.8467447 1.347-.82729652.571.00299203 1.089.32912352 1.339.84225652l3.974 8.156273 8.419 1.49747c.549.0973.999.4922 1.166 1.0233.168.5326.026 1.1131-.37 1.5065l-5.461 5.456 1.393 9.7301c.078.5535-.156 1.104-.611 1.4286-.454.3262-1.053.3696-1.548.1182l-8.203-4.1499-8.426 4.1559c-.21.1047-.437.1556-.664.1556Z" clip-rule="evenodd"></path>
                    </svg>
                  </div>
                  <p class='lg:twcss-text-[3rem] twcss-text-[2rem] twcss-font-bold twcss-mb-[2.4rem] twcss-leading-tight'>
                    “This product works. Plain and simple. I’m beyond thankful for it and officially a Hem Healer
                    lifer.”
                  </p>
                  <div class='lg:twcss-text-[2.2rem] twcss-text-[2rem] twcss-flex twcss-justify-center twcss-items-center twcss-gap-[.8rem]'>
                    <span class='twcss-font-semibold'>Amazon Customer</span>
                    {% comment %}
                      <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'>
                        <path fill="#42A5F5" d="m12.0001 1 2.25 2.50012L17.5 2.5l.75 3.25012 3.2501.75L20.5 9.75006l2.5001 2.25004-2.5001 2.25L21.5001 17.5l-3.2501.75-.75 3.2501L14.2501 20.5l-2.25 2.5001L9.75006 20.5l-3.24994 1.0001-.75-3.2501L2.5 17.5l1.00012-3.2499L1 12.0001l2.50012-2.25004L2.5 6.50012l3.25012-.75.75-3.25012 3.24994 1.00012L12.0001 1Z"></path><path fill="#E3F2FD" d="m17.2999 7.30005-6.8001 6.80005-2.79993-2.7999L6.2998 12.7l4.2 4.2 8.1999-8.19989-1.3998-1.40006Z"></path>
                      </svg>
                    {% endcomment %}
                  </div>
                </div>
                <div class='lg:twcss-w-1/2 twcss-w-full twcss-text-center'>
                  <img
                    src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/Testimonial_1_a30b4f42-5b45-4cad-bc8f-5f620a3c493b.png?v=1762364013'
                    alt='Joanna testimonial'
                    class='twcss-w-full twcss-object-cover twcss-rounded-3xl twcss-mb-[2.4rem]'
                  >
                  <div class='twcss-h-[3rem] twcss-mb-[2.4rem]'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      class='twcss-mx-auto twcss-w-full'
                      width='202'
                      height='30'
                      fill='none'
                      viewBox='0 0 202 30'
                    >
                      <path fill="#FFAE34" fill-rule="evenodd" d="M5.98916 29.9211c-.30996 0-.61843-.0957-.87898-.2842-.44923-.3262-.68283-.8737-.60346-1.4242l1.3911-9.7301-5.459598-5.456c-.3968164-.3964-.5375739-.9799-.3668679-1.514.1707059-.534.6259219-.9275 1.1784659-1.0188L9.48265 9.122 13.6335.828097c.2561-.510141.8176-.8467447 1.3477-.82729652.5705.00299203 1.0886.32912352 1.3387.84225652L20.294 8.99933l8.4185 1.49747c.5496.0973.9988.4922 1.1665 1.0233.1677.5326.0255 1.1131-.3698 1.5065l-5.4611 5.456 1.3926 9.7301c.0778.5535-.1558 1.104-.611 1.4286-.4537.3262-1.0527.3696-1.5483.1182l-8.2029-4.1499-8.42598 4.1559c-.20964.1047-.43725.1556-.66336.1556Zm42.78324 0c-.31 0-.6185-.0957-.879-.2842-.4492-.3262-.6828-.8737-.6035-1.4242l1.3911-9.7301-5.4596-5.456c-.3968-.3964-.5375-.9799-.3668-1.514.1707-.534.6259-.9275 1.1784-1.0188l8.2328-1.3718L56.4167.828097c.2561-.510141.8176-.8467447 1.3477-.82729652.5705.00299203 1.0886.32912352 1.3387.84225652l3.9741 8.156273 8.4185 1.49747c.5496.0973.9988.4922 1.1665 1.0233.1677.5326.0255 1.1131-.3698 1.5065l-5.4611 5.456 1.3926 9.7301c.0778.5535-.1558 1.104-.611 1.4286-.4537.3262-1.0527.3696-1.5483.1182l-8.2029-4.1499-8.426 4.1559c-.2096.1047-.4372.1556-.6633.1556Zm42.7834 0c-.31 0-.6184-.0957-.879-.2842-.4492-.3262-.6828-.8737-.6034-1.4242l1.3911-9.7301-5.4596-5.456c-.3968-.3964-.5376-.9799-.3669-1.514.1707-.534.6259-.9275 1.1785-1.0188l8.2328-1.3718L99.2001.828097c.2561-.510141.8179-.8467447 1.3479-.82729652.57.00299203 1.088.32912352 1.339.84225652l3.974 8.156273 8.418 1.49747c.55.0973.999.4922 1.167 1.0233.167.5326.025 1.1131-.37 1.5065l-5.461 5.456 1.392 9.7301c.078.5535-.155 1.104-.611 1.4286-.453.3262-1.052.3696-1.548.1182l-8.203-4.1499-8.4258 4.1559c-.2097.1047-.4373.1556-.6634.1556Zm42.7832 0c-.31 0-.619-.0957-.879-.2842-.449-.3262-.683-.8737-.604-1.4242l1.391-9.7301-5.459-5.456c-.397-.3964-.538-.9799-.367-1.514.171-.534.626-.9275 1.178-1.0188l8.233-1.3718 4.151-8.293903c.256-.510141.818-.8467447 1.348-.82729652.57.00299203 1.088.32912352 1.338.84225652l3.975 8.156273 8.418 1.49747c.55.0973.999.4922 1.167 1.0233.167.5326.025 1.1131-.37 1.5065l-5.461 5.456 1.392 9.7301c.078.5535-.155 1.104-.611 1.4286-.453.3262-1.052.3696-1.548.1182l-8.203-4.1499-8.426 4.1559c-.21.1047-.437.1556-.663.1556Zm42.783 0c-.31 0-.618-.0957-.879-.2842-.449-.3262-.682-.8737-.603-1.4242l1.391-9.7301-5.459-5.456c-.397-.3964-.538-.9799-.367-1.514.17-.534.626-.9275 1.178-1.0188l8.233-1.3718 4.151-8.293903c.256-.510141.817-.8467447 1.347-.82729652.571.00299203 1.089.32912352 1.339.84225652l3.974 8.156273 8.419 1.49747c.549.0973.999.4922 1.166 1.0233.168.5326.026 1.1131-.37 1.5065l-5.461 5.456 1.393 9.7301c.078.5535-.156 1.104-.611 1.4286-.454.3262-1.053.3696-1.548.1182l-8.203-4.1499-8.426 4.1559c-.21.1047-.437.1556-.664.1556Z" clip-rule="evenodd"></path>
                    </svg>
                  </div>
                  <p class='lg:twcss-text-[3rem] twcss-text-[2rem] twcss-font-bold twcss-mb-[2.4rem] twcss-leading-tight'>
                    “I gave this one a try and was not disappointed!”
                  </p>
                  <div class='lg:twcss-text-[2.2rem] twcss-text-[2rem] twcss-flex twcss-justify-center twcss-items-center twcss-gap-[.8rem]'>
                    <span class='twcss-font-semibold'>Joanna</span>
                    <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'>
                      <path fill="#42A5F5" d="m12.0001 1 2.25 2.50012L17.5 2.5l.75 3.25012 3.2501.75L20.5 9.75006l2.5001 2.25004-2.5001 2.25L21.5001 17.5l-3.2501.75-.75 3.2501L14.2501 20.5l-2.25 2.5001L9.75006 20.5l-3.24994 1.0001-.75-3.2501L2.5 17.5l1.00012-3.2499L1 12.0001l2.50012-2.25004L2.5 6.50012l3.25012-.75.75-3.25012 3.24994 1.00012L12.0001 1Z"></path><path fill="#E3F2FD" d="m17.2999 7.30005-6.8001 6.80005-2.79993-2.7999L6.2998 12.7l4.2 4.2 8.1999-8.19989-1.3998-1.40006Z"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <!-- end testimonials -->

            <h2 class='lg:twcss-text-[8rem] twcss-text-[2.5rem] twcss-font-bold twcss-text-center lg:twcss-mb-[6rem] twcss-mb-[3rem] twcss-leading-tight'>
              Easy-Flow Fiber Ingredients: Clinically Proven to Reduce Pain, Bloating and Improve Digestion
            </h2>

            <!-- start proven -->
            <div class='twcss-mx-auto twcss-max-w-[130rem] twcss-text-center twcss-flex twcss-justify-center twcss-flex-wrap twcss-font-semibold'>
              <div class='twcss-flex twcss-flex-col twcss-items-center twcss-px-[2rem] lg:twcss-mb-[14rem] twcss-mb-[6rem]'>
                <img
                  class='twcss-w-full twcss-max-w-[40rem] twcss-mb-[3rem] twcss-px-[5rem]'
                  src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/Oat_Fiber_Keeps_You_Regular.png?v=1762364014'
                  alt='improved digestion in 45 days'
                >
                <p class='lg:twcss-text-[3rem] twcss-leading-tight lg:twcss-mb-[2rem] twcss-mb-[1rem]'>
                  A 210-person clinical study found that daily oat fiber improved stool softness and made bathroom trips
                  more regular within 45 days.
                </p>
                <a
                  class='lg:twcss-text-[2rem] twcss-text-[--accent-color]'
                  href='https://becarispublishing.com/doi/10.2217/cer-2021-0038'
                  target='_blank'
                >
                  Source</a
                >
              </div>
              <div class='twcss-flex twcss-flex-col twcss-items-center twcss-px-[2rem] lg:twcss-mb-[14rem] twcss-mb-[6rem]'>
                <img
                  class='twcss-w-full twcss-max-w-[40rem] twcss-mb-[3rem] twcss-px-[5rem]'
                  src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/Oat_Fiber_Builds_a_Healthier_Gut.png?v=1762364013'
                  alt='increase good gut bacteria'
                >
                <p class='lg:twcss-text-[3rem] twcss-leading-tight lg:twcss-mb-[2rem] twcss-mb-[1rem]'>
                  Oat fiber feeds healthy bacteria like Bifidobacterium and Lactobacillus — proven to improve digestion
                  and reduce bloating.
                </p>
                <a
                  class='lg:twcss-text-[2rem] twcss-text-[--accent-color]'
                  href='https://www.sciencedirect.com/science/article/pii/S0022316622003765'
                  target='_blank'
                >
                  Source</a
                >
              </div>

              <div class='twcss-flex twcss-flex-col twcss-items-center twcss-px-[2rem] lg:twcss-mb-[14rem] twcss-mb-[6rem]'>
                <img
                  class='twcss-w-full twcss-max-w-[40rem] twcss-mb-[3rem] twcss-px-[5rem]'
                  src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/Cayenne_Helps_Food_Move_Smoothly.png?v=1762364013'
                  alt='Boost natural digestive flow'
                >
                <p class='lg:twcss-text-[3rem] twcss-leading-tight lg:twcss-mb-[2rem] twcss-mb-[1rem]'>
                  Cayenne’s active compound, capsaicin, increases digestive enzyme activity and blood flow to keep food
                  moving smoothly.
                </p>
                <a
                  class='lg:twcss-text-[2rem] twcss-text-[--accent-color]'
                  href='https://pmc.ncbi.nlm.nih.gov/articles/PMC4477151/'
                  target='_blank'
                >
                  Source</a
                >
              </div>

              <div class='twcss-flex twcss-flex-col twcss-items-center twcss-px-[2rem] lg:twcss-mb-[14rem] twcss-mb-[6rem]'>
                <img
                  class='twcss-w-full twcss-max-w-[40rem] twcss-mb-[3rem] twcss-px-[5rem]'
                  src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/Oat_and_Cayenne_is_Comfort.png?v=1762364015'
                  alt='oat plus cayenne'
                >
                <p class='lg:twcss-text-[3rem] twcss-leading-tight lg:twcss-mb-[2rem] twcss-mb-[1rem]'>
                  Oat fiber relieves constipation while cayenne supports digestion — a natural combo for smooth,
                  pain-free relief.
                </p>
                <a
                  class='lg:twcss-text-[2rem] twcss-text-[--accent-color]'
                  href='https://pmc.ncbi.nlm.nih.gov/articles/PMC10459712/'
                  target='_blank'
                >
                  Source: Oat Fiber</a
                >
                <a
                  class='lg:twcss-text-[2rem] twcss-text-[--accent-color]'
                  href='https://pmc.ncbi.nlm.nih.gov/articles/PMC4477151/'
                  target='_blank'
                >
                  Source: Cayenne Pepper</a
                >
              </div>
            </div>
            <!-- end proven -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let accordionData = {
    "WHY YOU'LL LOVE IT?": `<p>Easy Flow Fiber is the perfect complimentary formula with our extra strength. Easy Flow Fiber was formulated to help aid with your circulatory system. Strengthening your veins allowing blood to deliver all the necessary nutrients and antibodies that fight inflammation.</p>`,

    "WHAT'S INSIDE (AND WHY)?": `<p>Easy Flow Fiber contains two all-natural ingredients designed to support healthy digestion and promote regular bowel movements. Oat straw powder, with its high fiber content, helps bulk up the stool and ease its passage through the digestive tract, making bowel movements easier and more comfortable. Cayenne pepper powder is included for its ability to stimulate digestion and promote gut health, while also supporting healthy blood circulation, which contributes to overall digestive efficiency. Together, these ingredients offer a natural and effective solution for maintaining regularity and a healthy digestive system.</p>`,

    'HOW TO USE?': `<p>Our Easy Flow Fiber is easy to take, you can take daily, just 2 capsules in the morning and 2 in the evening. Or if you are constipated, take 6 capsules at once.</p>`,

    'WHEN WILL MY ORDER SHIP?': `<p>We ship all orders in discreet packaging, typically within one business day. You'll receive a USPS tracking number sent directly to your email.</p>

<p>Depending on location and circumstances, the delivery time is typically 3-7 business days.</p>`,

    'WHY SHOULD I SUBSCRIBE?': `<p>After you've alleviated your hemorrhoids, prevent them from returning by continuing to take Hem Hero™ Extra Strength.</p>``<p>We'll deliver Hem Hero™ Extra Strength monthly, so you never run out. Shipping is always free, and your price will never increase, even when the cost of Hem Hero increases. There's no obligation, and you can cancel or modify your subscription anytime.</p>`,

    '100% MONEYBACK GUARANTEE': `<p>Try Hem Hero™ Extra Strength and if you don't get any relief, send us an email, and we'll refund your money. No questions asked.</p>`,
  };

  const accordionContainer = document.getElementById('accordion');

  Object.entries(accordionData).forEach(([title, content]) => {
    const item = document.createElement('div');
    item.className = 'accordion-item';

    item.innerHTML = `
    <button class="accordion-header" aria-expanded="false">${title}</button>
    <div class="accordion-content">
      <div class="accordion-inner">${content}</div>
    </div>
  `;

    accordionContainer.appendChild(item);
  });

  document.addEventListener('click', (e) => {
    if (e.target.classList.contains('accordion-header')) {
      const header = e.target;
      const content = header.nextElementSibling;
      const isOpen = header.classList.contains('active');

      // Close all
      document.querySelectorAll('.accordion-header').forEach((h) => h.classList.remove('active'));
      document.querySelectorAll('.accordion-content').forEach((c) => {
        c.style.maxHeight = null;
      });

      if (!isOpen) {
        header.classList.add('active');
        const scrollHeight = content.querySelector('.accordion-inner').scrollHeight;
        content.style.maxHeight = scrollHeight + 'px';
      }
    }
  });
</script>
