{% comment %}
  <div class='color-{{ section.settings.color_scheme }} twcss-overflow-hidden gradient'>
    <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
      <div
        {% if section.settings.full_width %}
          class='page-width'
        {% endif %}
      >
        <div class='twcss-w-full'>
          <img
            class='twcss-mx-auto twcss-max-w-[40rem] twcss-w-full twcss-pt-[5rem]'
            src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/logo.png?v=1652179013'
            alt='fda logos'
            width='auto'
            height='auto'
          >
          <div class='twcss-pt-[5rem]'>
            <h2 class='lg:twcss-text-[4.5rem] twcss-text-[2.5rem] twcss-font-medium twcss-text-center'>
              DOES HEM RESCUE® – HEART-FRIENDLY FORMULA REALLY WORK?
            </h2>
            <h3 class='lg:twcss-text-[7rem] twcss-text-[3rem] twcss-font-medium twcss-text-center twcss-mb-[4rem]'>
              Real Stories From Real Users
            </h3>

            <div class='twcss-flex lg:twcss-flex-row twcss-flex-col twcss-gap-[2rem]'>
              <div class='lg:twcss-w-1/2 w-full'>
                <iframe
                  class='video-testimonial-iframe twcss-aspect-video twcss-h-auto'
                  src='https://player.vimeo.com/video/707945831?h=fc95207f74&title=0&byline=0&portrait=0'
                  width='100%'
                  height='360px'
                ></iframe>
                <p class='twcss-text-[2.4rem] twcss-italic twcss-text-center twcss-pt-[2rem]'>
                  "It keeps getting progressively better each week"
                </p>
              </div>
              <div class='lg:twcss-w-1/2 w-full'>
                <iframe
                  class='video-testimonial-iframe twcss-aspect-video twcss-h-auto'
                  src='https://player.vimeo.com/video/621204720?h=033f28bae1&title=0&byline=0&portrait=0'
                  width='100%'
                  height='360px'
                ></iframe>
                <p class='twcss-text-[2.4rem] twcss-italic twcss-text-center twcss-pt-[2rem]'>
                  "The pain is gone now, the pain died down"
                </p>
              </div>
            </div>
          </div>

          <div class='twcss-pt-[5rem]'>
            <div class='twcss-flex lg:twcss-flex-row twcss-flex-col twcss-gap-[2rem]'>
              <div class='lg:twcss-w-1/2 w-full twcss-flex twcss-flex-col twcss-justify-center'>
                <h2 class='lg:twcss-text-[4.5rem] twcss-text-[2.5rem] twcss-font-medium twcss-text-center twcss-mb-[3rem]'>
                  HEM RESCUE® – Heart-Friendly Formula BENEFITS
                </h2>
                <ul class='twcss-ml-[2rem] twcss-text-[1.8rem] twcss-list-["✔"] twcss-text-black *:twcss-mb-[3rem] *:twcss-mr-[1rem]'>
                  <li>
                    <p class='twcss-pl-[1rem]'>Works from the inside out to get relief</p>
                  </li>
                  <li>
                    <p class='twcss-pl-[1rem]'>Works great for chronic sufferers</p>
                  </li>
                  <li>
                    <p class='twcss-pl-[1rem]'>Formula designed for both men and women</p>
                  </li>
                  <li>
                    <p class='twcss-pl-[1rem]'>100% all natural ingredients</p>
                  </li>
                  <li>
                    <p class='twcss-pl-[1rem]'>Safe to use</p>
                  </li>
                </ul>
              </div>
              <div class='lg:twcss-w-1/2 w-full'>
                <h2 class='lg:twcss-text-[4.5rem] twcss-text-[2.5rem] twcss-font-medium twcss-text-center twcss-mb-[3rem]'>
                  NO MORE TEMPORARY SOLUTIONS!
                </h2>
                <img
                  src='https://www.hemhealer.com/cdn/shop/files/imgpsh_fullsize_anim_2_976e5b25-6454-4af8-9c2d-c38a286be6e1_500x.png?v=1709285430'
                  alt='Hem Rescue® – Heart-Friendly Formula'
                  class='twcss-w-full twcss-max-w-[90rem]'
                  width='auto'
                  height='auto'
                >
                <div class='benefits_rating twcss-flex twcss-justify-center'>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    xmlns:xlink='http://www.w3.org/1999/xlink'
                    width='25'
                    zoomAndPan='magnify'
                    viewBox='0 0 37.5 37.499999'
                    height='25'
                    preserveAspectRatio='xMidYMid meet'
                    version='1.0'
                  >
                    <defs><clipPath id="id1"><path d="M 0.679688 1.539062 L 36.679688 1.539062 L 36.679688 36.039062 L 0.679688 36.039062 Z M 0.679688 1.539062 " clip-rule="nonzero"></path></clipPath></defs><g clip-path="url(#id1)"><path fill="#ffac00" d="M 18.679688 1.558594 L 24.242188 12.902344 L 36.679688 14.71875 L 27.679688 23.546875 L 29.804688 36.015625 L 18.679688 30.128906 L 7.554688 36.015625 L 9.679688 23.546875 L 0.675781 14.71875 L 13.117188 12.902344 L 18.679688 1.558594 " fill-opacity="1" fill-rule="nonzero"></path></g>
                  </svg>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    xmlns:xlink='http://www.w3.org/1999/xlink'
                    width='25'
                    zoomAndPan='magnify'
                    viewBox='0 0 37.5 37.499999'
                    height='25'
                    preserveAspectRatio='xMidYMid meet'
                    version='1.0'
                  >
                    <defs><clipPath id="id1"><path d="M 0.679688 1.539062 L 36.679688 1.539062 L 36.679688 36.039062 L 0.679688 36.039062 Z M 0.679688 1.539062 " clip-rule="nonzero"></path></clipPath></defs><g clip-path="url(#id1)"><path fill="#ffac00" d="M 18.679688 1.558594 L 24.242188 12.902344 L 36.679688 14.71875 L 27.679688 23.546875 L 29.804688 36.015625 L 18.679688 30.128906 L 7.554688 36.015625 L 9.679688 23.546875 L 0.675781 14.71875 L 13.117188 12.902344 L 18.679688 1.558594 " fill-opacity="1" fill-rule="nonzero"></path></g>
                  </svg>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    xmlns:xlink='http://www.w3.org/1999/xlink'
                    width='25'
                    zoomAndPan='magnify'
                    viewBox='0 0 37.5 37.499999'
                    height='25'
                    preserveAspectRatio='xMidYMid meet'
                    version='1.0'
                  >
                    <defs><clipPath id="id1"><path d="M 0.679688 1.539062 L 36.679688 1.539062 L 36.679688 36.039062 L 0.679688 36.039062 Z M 0.679688 1.539062 " clip-rule="nonzero"></path></clipPath></defs><g clip-path="url(#id1)"><path fill="#ffac00" d="M 18.679688 1.558594 L 24.242188 12.902344 L 36.679688 14.71875 L 27.679688 23.546875 L 29.804688 36.015625 L 18.679688 30.128906 L 7.554688 36.015625 L 9.679688 23.546875 L 0.675781 14.71875 L 13.117188 12.902344 L 18.679688 1.558594 " fill-opacity="1" fill-rule="nonzero"></path></g>
                  </svg>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    xmlns:xlink='http://www.w3.org/1999/xlink'
                    width='25'
                    zoomAndPan='magnify'
                    viewBox='0 0 37.5 37.499999'
                    height='25'
                    preserveAspectRatio='xMidYMid meet'
                    version='1.0'
                  >
                    <defs><clipPath id="id1"><path d="M 0.679688 1.539062 L 36.679688 1.539062 L 36.679688 36.039062 L 0.679688 36.039062 Z M 0.679688 1.539062 " clip-rule="nonzero"></path></clipPath></defs><g clip-path="url(#id1)"><path fill="#ffac00" d="M 18.679688 1.558594 L 24.242188 12.902344 L 36.679688 14.71875 L 27.679688 23.546875 L 29.804688 36.015625 L 18.679688 30.128906 L 7.554688 36.015625 L 9.679688 23.546875 L 0.675781 14.71875 L 13.117188 12.902344 L 18.679688 1.558594 " fill-opacity="1" fill-rule="nonzero"></path></g>
                  </svg>

                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    xmlns:xlink='http://www.w3.org/1999/xlink'
                    width='25'
                    zoomAndPan='magnify'
                    viewBox='0 0 37.5 37.499999'
                    height='25'
                    preserveAspectRatio='xMidYMid meet'
                    version='1.0'
                  >
                    <defs><clipPath id="id1"><path d="M 0.679688 1.539062 L 36.679688 1.539062 L 36.679688 36.039062 L 0.679688 36.039062 Z M 0.679688 1.539062 " clip-rule="nonzero"></path></clipPath><clipPath id="id2"><path d="M 26.773438 1.539062 L 36.523438 1.539062 L 36.523438 36.039062 L 26.773438 36.039062 Z M 26.773438 1.539062 " clip-rule="nonzero"></path></clipPath></defs><g clip-path="url(#id1)"><path fill="#ffac00" d="M 18.679688 1.558594 L 24.242188 12.902344 L 36.679688 14.71875 L 27.679688 23.546875 L 29.804688 36.015625 L 18.679688 30.128906 L 7.554688 36.015625 L 9.679688 23.546875 L 0.675781 14.71875 L 13.117188 12.902344 L 18.679688 1.558594 " fill-opacity="1" fill-rule="nonzero"></path></g><g clip-path="url(#id2)"><path fill="#545454" d="M 18.679688 1.558594 L 24.242188 12.902344 L 36.679688 14.71875 L 27.679688 23.546875 L 29.804688 36.015625 L 18.679688 30.128906 L 7.554688 36.015625 L 9.679688 23.546875 L 0.675781 14.71875 L 13.117188 12.902344 L 18.679688 1.558594 " fill-opacity="1" fill-rule="nonzero"></path></g>
                  </svg>
                </div>
                <p class='twcss-text-center'>Rated 4.8 Out of 5.0</p>
              </div>
            </div>
          </div>

          <div class='twcss-pt-[5rem]'>
            <h2 class='lg:twcss-text-[4.5rem] twcss-text-[2.5rem] twcss-font-bold twcss-text-center'>
              HEM RESCUE® – HEART-FRIENDLY FORMULA THE ONE THING THAT WORKS
            </h2>
            <h3 class='lg:twcss-text-[7rem] twcss-text-[3rem]  twcss-text-center twcss-mb-[4rem]'>
              MADE WITH 100% SAFE, NATURAL INGREDIENTS
            </h3>
            <img
              src='https://www.hemhealer.com/cdn/shop/files/imgpsh_fullsize_anim_19_1100x.png?v=1706836955'
              alt='ingredients'
              class='twcss-w-full lg:twcss-block twcss-hidden'
              width='auto'
              height='auto'
            >
            <img
              src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/imgpsh_fullsize_anim_adbae1e0-421b-4eda-878b-eefdb49072ff.png?v=1707223873'
              alt='ingredients'
              class='twcss-w-full lg:twcss-hidden twcss-block'
              width='auto'
              height='auto'
            >
          </div>
          <div class='twcss-pt-[5rem]'>
            <h2 class='lg:twcss-text-[7rem] twcss-text-[3rem] twcss-font-medium twcss-text-center twcss-mb-[4rem]'>
              Where Are Hem Healer® Products Manufactured?
            </h2>
            <iframe
              class='video-testimonial-iframe twcss-aspect-video twcss-h-auto'
              src='https://player.vimeo.com/video/899825962?h=8e75364a81&amp;title=0&amp;byline=0&amp;portrait=0'
              width='100%'
              height='700px'
              frameborder='0'
              allow='autoplay; fullscreen; picture-in-picture'
              allowfullscreen=''
            ></iframe>
          </div>

          <div class='twcss-pt-[5rem]'>
            <img
              src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/capsule_bottle_rescue.png?v=1746103303'
              alt='capsule'
              class='twcss-w-full twcss-max-w-[80rem] twcss-mx-auto'
              width='auto'
              height='auto'
            >
          </div>

          <div class='twcss-pt-[5rem] twcss-mb-[5rem]'>
            <h2 class='lg:twcss-text-[4.5rem] twcss-text-[2.5rem] twcss-font-bold twcss-text-center'>
              Simply take 1 capsule in the morning
            </h2>
            <h3 class='lg:twcss-text-[7rem] twcss-text-[3rem]  twcss-text-center twcss-mb-[4rem]'>
              and 2 in the evening with food
            </h3>
            <img
              src='https://www.hemhealer.com/cdn/shop/files/Screenshot_2024-01-31_at_8.35.34_PM_1100x.png?v=1706704565'
              alt='Hem Rescue® – Heart-Friendly Formula facts'
              class='twcss-w-full'
              width='auto'
              height='auto'
            >
          </div>

          <div class='twcss-text-center twcss-mt-[5rem]'>
            <a
              href='#product-info'
              class='twcss-text-white twcss-inline-block twcss-bg-[--accent-color] twcss-px-[2rem] twcss-py-[1.5rem] twcss-text-[2rem] twcss-leading-none'
            >
              <span class='twcss-flex'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  height='24px'
                  viewBox='0 -960 960 960'
                  width='24px'
                  fill='#ffffff'
                >
                  <path d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM208-800h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Z"/>
                </svg>
                <span class='twcss-font-bold'>Click Here to see Pricing</span>
              </span>
              <span class='twcss-text-[1.4rem]'>90 DAY MONEY BACK GUARANTEE</span>
            </a>
          </div>

          <div class='twcss-mb-[2rem]'>
            <h2 class='lg:twcss-text-[4.5rem] twcss-text-[2.5rem] twcss-font-bold twcss-text-center twcss-my-[5rem]'>
              DOCTOR RECOMMENDED TO FIX HEMORRHOIDS!
            </h2>
            <iframe
              class='video-testimonial-iframe twcss-aspect-video twcss-h-auto'
              src='https://player.vimeo.com/video/910202258?h=2a844a70d9&title=0&byline=0&portrait=0'
              width='100%'
              height='700px'
              frameborder='0'
              allow='autoplay; fullscreen; picture-in-picture'
              allowfullscreen=''
            ></iframe>
          </div>

          <div class='twcss-flex lg:twcss-flex-row twcss-flex-col twcss-gap-[2rem] twcss-text-black'>
            <div class='lg:twcss-w-1/2 w-full'>
              <img
                src='https://www.hemhealer.com/cdn/shop/files/Hem_Rescue_Doctor_-_1_800x.jpg?v=1707224439'
                alt='Dr. Nicolette Natale, D.O.'
                width='auto'
                height='auto'
                class='twcss-w-full twcss-mb-[1.5rem]'
              >
              <p>
                "I highly recommend Hem Healer’s HEM RESCUE® – Heart-Friendly Formula to anyone struggling with
                hemorrhoids. The combination of natural ingredients can help reduce inflammation, which may lower pain
                levels associated with hemorrhoids. Additionally, reductions in inflammation and improved circulation can
                provide the body with the appropriate environment to heal hemorrhoids naturally and reduce associated
                symptoms."
              </p>
              <br>
              <strong>~ Dr. Nicolette Natale, D.O.</strong>
            </div>
            <div class='lg:twcss-w-1/2 w-full'>
              <img
                src='https://www.hemhealer.com/cdn/shop/files/Hem_Rescue_Doctor_-_2_800x.jpg?v=1707224439'
                alt='~ Dr. Kim Langdon M.D.'
                width='auto'
                height='auto'
                class='twcss-w-full twcss-mb-[1.5rem]'
              >
              <p>
                Hemorrhoids can be reduced quickly and safely by taking HEM RESCUE® – Heart-Friendly Formula every day.
                The clinically proven ingredients of HEM RESCUE® – Heart-Friendly Formula are witch hazel, vitamin C,
                butcher's broom, hesperidin, and horse chestnut seed extract, which have analgesic, anti-inflammatory, and
                pro-circulatory effects. Butcher’s broom, hesperidin, and horse chestnut seed extract reduce swelling by
                helping veins constrict thus shrinking the hemorrhoid and reducing pain.
              </p>
              <br>
              <strong>~ Dr. Kim Langdon M.D.</strong>
            </div>
          </div>

          <div class='twcss-pt-[5rem]'>
            <h2 class='lg:twcss-text-[4.5rem] twcss-text-[2.5rem] twcss-font-bold twcss-text-center'>
              TRY HEM RESCUE® – HEART-FRIENDLY Formula RISK FREE!
            </h2>
            <h3 class='lg:twcss-text-[7rem] twcss-text-[3rem]  twcss-text-center twcss-mb-[4rem]'>
              90 DAY 100% MONEY BACK GUARANTEE
            </h3>
            <div class='twcss-flex lg:twcss-flex-row twcss-flex-col twcss-gap-[2rem]'>
              <div class='lg:twcss-w-1/3 twcss-w-full'>
                <img
                  src='https://www.hemhealer.com/cdn/shop/files/imgpsh_fullsize_anim_c776cf0b-de6c-41bb-b3f9-ccf2a0e35369_250x.png?v=1709285332'
                  alt='guaranteed risk free'
                  class='twcss-mx-auto'
                  width='auto'
                  height='auto'
                >
              </div>
              <div class='lg:twcss-w-2/3 twcss-w-full twcss-flex twcss-flex-col twcss-justify-center'>
                <p class='twcss-text-[2rem]'>
                  <span class='twcss-font-bold twcss-text-red-600'>IMPORTANT!</span> If you are not 100% satisfied FOR ANY
                  REASON, simply call us, text, or email and we will immediately give you a full refund no questions
                  asked.
                </p>
              </div>
            </div>
          </div>

          <div class='twcss-text-center twcss-mt-[5rem]'>
            <a
              href='#product-info'
              class='twcss-text-white twcss-inline-block twcss-bg-[--accent-color] twcss-px-[2rem] twcss-py-[1.5rem] twcss-text-[2rem] twcss-leading-none'
            >
              <span class='twcss-flex'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  height='24px'
                  viewBox='0 -960 960 960'
                  width='24px'
                  fill='#ffffff'
                >
                  <path d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM208-800h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Z"/>
                </svg>
                <span class='twcss-font-bold'>Click Here to Buy Now</span>
              </span>
              <span class='twcss-text-[1.4rem]'>90 DAY MONEY BACK GUARANTEE</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endcomment %}

<div class='color-{{ section.settings.color_scheme }} twcss-overflow-hidden gradient'>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div class='twcss-w-full'>
        <img
          class='twcss-mx-auto twcss-max-w-[40rem] twcss-w-full lg:twcss-pt-[5rem]'
          src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/logo.png?v=1652179013'
          alt='fda logos'
          width='auto'
          height='auto'
        >
        <h3 class='lg:twcss-text-[7rem] twcss-text-[3rem] twcss-font-medium twcss-text-center twcss-mb-[4rem]'>
          Doctor Recommended for Hemorrhoid Relief
        </h3>
        <iframe
          class='video-testimonial-iframe twcss-aspect-video twcss-h-auto'
          src='https://player.vimeo.com/video/910202258?h=fc95207f74&title=0&byline=0&portrait=0'
          width='100%'
          height='360px'
        ></iframe>

        <div class='twcss-pt-[5rem]'>
          <!--
            div row
            div col
              img
              stars
              description
              author
          -->
          <!-- start testimonials -->
          <h3 class='lg:twcss-text-[7rem] twcss-text-[4.5rem] twcss-font-medium twcss-text-center twcss-mb-[4rem]'>
            Testimonials
          </h3>
          <div
            id='testimonial-container'
            class='twcss-grid lg:twcss-grid-cols-2 twcss-grid-cols-1 twcss-justify-center twcss-max-w-[80rem] lg:twcss-gap-x-[5rem] lg:twcss-gap-y-[3rem] twcss-gap-[4rem] twcss-m-auto'
          >
            <div class='lg:twcss-w-full twcss-w-full twcss-text-center'>
              <div class='lg:twcss-w-full twcss-w-full twcss-text-center'>
                <div class='twcss-relative twcss-aspect-square twcss-mb-[2rem]'>
                  <img
                    src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/16.png?v=1751644982'
                    alt='Rafael testimonial'
                    class='twcss-w-full twcss-object-cover twcss-rounded-3xl twcss-mb-[2.4rem] twcss-absolute'
                  >
                  <button
                    onclick="openVideoModal('https://player.vimeo.com/video/707945831?h=fc95207f74&amp;title=0&amp;byline=0&amp;portrait=0?h=c455811032&amp;title=0&amp;byline=0&amp;portrait=0')"
                    class='twcss-relative twcss-w-full twcss-aspect-square  twcss-text-white twcss-flex twcss-items-center twcss-justify-center twcss-cursor-pointer'
                  >
                    <span class='lg:twcss-text-[8rem] twcss-text-[5rem] twcss-pl-[1rem] twcss-bg-[#C6E12380]  twcss-rounded-full lg:twcss-w-[11rem] lg:twcss-h-[11rem] twcss-w-[7rem] twcss-h-[7rem] lg:twcss-leading-[10rem] twcss-leading-[6.5rem]'
                      >▶</span
                    >
                  </button>
                </div>
                <div class='twcss-h-[3rem] twcss-mb-[2.4rem]'>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    class='twcss-mx-auto twcss-w-full'
                    width='202'
                    height='30'
                    fill='none'
                    viewBox='0 0 202 30'
                  >
                    <path fill="#FFAE34" fill-rule="evenodd" d="M5.98916 29.9211c-.30996 0-.61843-.0957-.87898-.2842-.44923-.3262-.68283-.8737-.60346-1.4242l1.3911-9.7301-5.459598-5.456c-.3968164-.3964-.5375739-.9799-.3668679-1.514.1707059-.534.6259219-.9275 1.1784659-1.0188L9.48265 9.122 13.6335.828097c.2561-.510141.8176-.8467447 1.3477-.82729652.5705.00299203 1.0886.32912352 1.3387.84225652L20.294 8.99933l8.4185 1.49747c.5496.0973.9988.4922 1.1665 1.0233.1677.5326.0255 1.1131-.3698 1.5065l-5.4611 5.456 1.3926 9.7301c.0778.5535-.1558 1.104-.611 1.4286-.4537.3262-1.0527.3696-1.5483.1182l-8.2029-4.1499-8.42598 4.1559c-.20964.1047-.43725.1556-.66336.1556Zm42.78324 0c-.31 0-.6185-.0957-.879-.2842-.4492-.3262-.6828-.8737-.6035-1.4242l1.3911-9.7301-5.4596-5.456c-.3968-.3964-.5375-.9799-.3668-1.514.1707-.534.6259-.9275 1.1784-1.0188l8.2328-1.3718L56.4167.828097c.2561-.510141.8176-.8467447 1.3477-.82729652.5705.00299203 1.0886.32912352 1.3387.84225652l3.9741 8.156273 8.4185 1.49747c.5496.0973.9988.4922 1.1665 1.0233.1677.5326.0255 1.1131-.3698 1.5065l-5.4611 5.456 1.3926 9.7301c.0778.5535-.1558 1.104-.611 1.4286-.4537.3262-1.0527.3696-1.5483.1182l-8.2029-4.1499-8.426 4.1559c-.2096.1047-.4372.1556-.6633.1556Zm42.7834 0c-.31 0-.6184-.0957-.879-.2842-.4492-.3262-.6828-.8737-.6034-1.4242l1.3911-9.7301-5.4596-5.456c-.3968-.3964-.5376-.9799-.3669-1.514.1707-.534.6259-.9275 1.1785-1.0188l8.2328-1.3718L99.2001.828097c.2561-.510141.8179-.8467447 1.3479-.82729652.57.00299203 1.088.32912352 1.339.84225652l3.974 8.156273 8.418 1.49747c.55.0973.999.4922 1.167 1.0233.167.5326.025 1.1131-.37 1.5065l-5.461 5.456 1.392 9.7301c.078.5535-.155 1.104-.611 1.4286-.453.3262-1.052.3696-1.548.1182l-8.203-4.1499-8.4258 4.1559c-.2097.1047-.4373.1556-.6634.1556Zm42.7832 0c-.31 0-.619-.0957-.879-.2842-.449-.3262-.683-.8737-.604-1.4242l1.391-9.7301-5.459-5.456c-.397-.3964-.538-.9799-.367-1.514.171-.534.626-.9275 1.178-1.0188l8.233-1.3718 4.151-8.293903c.256-.510141.818-.8467447 1.348-.82729652.57.00299203 1.088.32912352 1.338.84225652l3.975 8.156273 8.418 1.49747c.55.0973.999.4922 1.167 1.0233.167.5326.025 1.1131-.37 1.5065l-5.461 5.456 1.392 9.7301c.078.5535-.155 1.104-.611 1.4286-.453.3262-1.052.3696-1.548.1182l-8.203-4.1499-8.426 4.1559c-.21.1047-.437.1556-.663.1556Zm42.783 0c-.31 0-.618-.0957-.879-.2842-.449-.3262-.682-.8737-.603-1.4242l1.391-9.7301-5.459-5.456c-.397-.3964-.538-.9799-.367-1.514.17-.534.626-.9275 1.178-1.0188l8.233-1.3718 4.151-8.293903c.256-.510141.817-.8467447 1.347-.82729652.571.00299203 1.089.32912352 1.339.84225652l3.974 8.156273 8.419 1.49747c.549.0973.999.4922 1.166 1.0233.168.5326.026 1.1131-.37 1.5065l-5.461 5.456 1.393 9.7301c.078.5535-.156 1.104-.611 1.4286-.454.3262-1.053.3696-1.548.1182l-8.203-4.1499-8.426 4.1559c-.21.1047-.437.1556-.664.1556Z" clip-rule="evenodd"></path>
                  </svg>
                </div>
                <p class='lg:twcss-text-[3rem] twcss-text-[2rem] twcss-font-bold twcss-uppercase twcss-mb-[2.4rem] twcss-leading-none'>
                  "It immediately started working and helping with the symptoms<br>
                </p>
                <div class='lg:twcss-text-[2.2rem] twcss-text-[2rem] twcss-flex twcss-justify-center twcss-items-center twcss-gap-[.8rem]'>
                  <span class='twcss-font-semibold twcss-uppercase'>-Bob</span>
                  <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'>
                    <path fill="#42A5F5" d="m12.0001 1 2.25 2.50012L17.5 2.5l.75 3.25012 3.2501.75L20.5 9.75006l2.5001 2.25004-2.5001 2.25L21.5001 17.5l-3.2501.75-.75 3.2501L14.2501 20.5l-2.25 2.5001L9.75006 20.5l-3.24994 1.0001-.75-3.2501L2.5 17.5l1.00012-3.2499L1 12.0001l2.50012-2.25004L2.5 6.50012l3.25012-.75.75-3.25012 3.24994 1.00012L12.0001 1Z"></path><path fill="#E3F2FD" d="m17.2999 7.30005-6.8001 6.80005-2.79993-2.7999L6.2998 12.7l4.2 4.2 8.1999-8.19989-1.3998-1.40006Z"></path>
                  </svg>
                </div>
                <p></p>
              </div>
            </div>
            <div class='lg:twcss-w-full twcss-w-full twcss-text-center'>
              <div class='lg:twcss-w-full twcss-w-full twcss-text-center'>
                <div class='twcss-relative twcss-aspect-square twcss-mb-[2rem]'>
                  <img
                    src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/Dan.png?v=1753727917'
                    alt='Rafael testimonial'
                    class='twcss-w-full twcss-object-cover twcss-rounded-3xl twcss-mb-[2.4rem] twcss-absolute'
                  >
                  <button
                    onclick="openVideoModal('https://player.vimeo.com/video/621204720?h=033f28bae1title=0&amp;byline=0&amp;portrait=0?h=033f28bae1title&amp;title=0&amp;byline=0&amp;portrait=0')"
                    class='twcss-relative twcss-w-full twcss-aspect-square  twcss-text-white twcss-flex twcss-items-center twcss-justify-center twcss-cursor-pointer'
                  >
                    <span class='lg:twcss-text-[8rem] twcss-text-[5rem] twcss-pl-[1rem] twcss-bg-[#C6E12380]  twcss-rounded-full lg:twcss-w-[11rem] lg:twcss-h-[11rem] twcss-w-[7rem] twcss-h-[7rem] lg:twcss-leading-[10rem] twcss-leading-[6.5rem]'
                      >▶</span
                    >
                  </button>
                </div>
                <div class='twcss-h-[3rem] twcss-mb-[2.4rem]'>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    class='twcss-mx-auto twcss-w-full'
                    width='202'
                    height='30'
                    fill='none'
                    viewBox='0 0 202 30'
                  >
                    <path fill="#FFAE34" fill-rule="evenodd" d="M5.98916 29.9211c-.30996 0-.61843-.0957-.87898-.2842-.44923-.3262-.68283-.8737-.60346-1.4242l1.3911-9.7301-5.459598-5.456c-.3968164-.3964-.5375739-.9799-.3668679-1.514.1707059-.534.6259219-.9275 1.1784659-1.0188L9.48265 9.122 13.6335.828097c.2561-.510141.8176-.8467447 1.3477-.82729652.5705.00299203 1.0886.32912352 1.3387.84225652L20.294 8.99933l8.4185 1.49747c.5496.0973.9988.4922 1.1665 1.0233.1677.5326.0255 1.1131-.3698 1.5065l-5.4611 5.456 1.3926 9.7301c.0778.5535-.1558 1.104-.611 1.4286-.4537.3262-1.0527.3696-1.5483.1182l-8.2029-4.1499-8.42598 4.1559c-.20964.1047-.43725.1556-.66336.1556Zm42.78324 0c-.31 0-.6185-.0957-.879-.2842-.4492-.3262-.6828-.8737-.6035-1.4242l1.3911-9.7301-5.4596-5.456c-.3968-.3964-.5375-.9799-.3668-1.514.1707-.534.6259-.9275 1.1784-1.0188l8.2328-1.3718L56.4167.828097c.2561-.510141.8176-.8467447 1.3477-.82729652.5705.00299203 1.0886.32912352 1.3387.84225652l3.9741 8.156273 8.4185 1.49747c.5496.0973.9988.4922 1.1665 1.0233.1677.5326.0255 1.1131-.3698 1.5065l-5.4611 5.456 1.3926 9.7301c.0778.5535-.1558 1.104-.611 1.4286-.4537.3262-1.0527.3696-1.5483.1182l-8.2029-4.1499-8.426 4.1559c-.2096.1047-.4372.1556-.6633.1556Zm42.7834 0c-.31 0-.6184-.0957-.879-.2842-.4492-.3262-.6828-.8737-.6034-1.4242l1.3911-9.7301-5.4596-5.456c-.3968-.3964-.5376-.9799-.3669-1.514.1707-.534.6259-.9275 1.1785-1.0188l8.2328-1.3718L99.2001.828097c.2561-.510141.8179-.8467447 1.3479-.82729652.57.00299203 1.088.32912352 1.339.84225652l3.974 8.156273 8.418 1.49747c.55.0973.999.4922 1.167 1.0233.167.5326.025 1.1131-.37 1.5065l-5.461 5.456 1.392 9.7301c.078.5535-.155 1.104-.611 1.4286-.453.3262-1.052.3696-1.548.1182l-8.203-4.1499-8.4258 4.1559c-.2097.1047-.4373.1556-.6634.1556Zm42.7832 0c-.31 0-.619-.0957-.879-.2842-.449-.3262-.683-.8737-.604-1.4242l1.391-9.7301-5.459-5.456c-.397-.3964-.538-.9799-.367-1.514.171-.534.626-.9275 1.178-1.0188l8.233-1.3718 4.151-8.293903c.256-.510141.818-.8467447 1.348-.82729652.57.00299203 1.088.32912352 1.338.84225652l3.975 8.156273 8.418 1.49747c.55.0973.999.4922 1.167 1.0233.167.5326.025 1.1131-.37 1.5065l-5.461 5.456 1.392 9.7301c.078.5535-.155 1.104-.611 1.4286-.453.3262-1.052.3696-1.548.1182l-8.203-4.1499-8.426 4.1559c-.21.1047-.437.1556-.663.1556Zm42.783 0c-.31 0-.618-.0957-.879-.2842-.449-.3262-.682-.8737-.603-1.4242l1.391-9.7301-5.459-5.456c-.397-.3964-.538-.9799-.367-1.514.17-.534.626-.9275 1.178-1.0188l8.233-1.3718 4.151-8.293903c.256-.510141.817-.8467447 1.347-.82729652.571.00299203 1.089.32912352 1.339.84225652l3.974 8.156273 8.419 1.49747c.549.0973.999.4922 1.166 1.0233.168.5326.026 1.1131-.37 1.5065l-5.461 5.456 1.393 9.7301c.078.5535-.156 1.104-.611 1.4286-.454.3262-1.053.3696-1.548.1182l-8.203-4.1499-8.426 4.1559c-.21.1047-.437.1556-.664.1556Z" clip-rule="evenodd"></path>
                  </svg>
                </div>
                <p class='lg:twcss-text-[3rem] twcss-text-[2rem] twcss-font-bold twcss-uppercase twcss-mb-[2.4rem] twcss-leading-none'>
                  "I'm healed, I'm not having pain!<br>
                </p>
                <div class='lg:twcss-text-[2.2rem] twcss-text-[2rem] twcss-flex twcss-justify-center twcss-items-center twcss-gap-[.8rem]'>
                  <span class='twcss-font-semibold twcss-uppercase'>-Dan</span>
                  <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'>
                    <path fill="#42A5F5" d="m12.0001 1 2.25 2.50012L17.5 2.5l.75 3.25012 3.2501.75L20.5 9.75006l2.5001 2.25004-2.5001 2.25L21.5001 17.5l-3.2501.75-.75 3.2501L14.2501 20.5l-2.25 2.5001L9.75006 20.5l-3.24994 1.0001-.75-3.2501L2.5 17.5l1.00012-3.2499L1 12.0001l2.50012-2.25004L2.5 6.50012l3.25012-.75.75-3.25012 3.24994 1.00012L12.0001 1Z"></path><path fill="#E3F2FD" d="m17.2999 7.30005-6.8001 6.80005-2.79993-2.7999L6.2998 12.7l4.2 4.2 8.1999-8.19989-1.3998-1.40006Z"></path>
                  </svg>
                </div>
                <p></p>
              </div>
            </div>
          </div>
        </div>

        <!-- end testimonials -->

        <div class='twcss-pt-[5rem]'>
          <img
            src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/Hem_Rescue.png?v=1753727916'
            alt='ingredients'
            class='twcss-w-auto twcss-mx-auto'
            width='auto'
            height='auto'
          >
        </div>
        <!-- comparison start -->

        <div class='twcss-py-[5rem]'>
          <div>
            <h2 class='lg:twcss-text-[7rem] twcss-text-[3.5rem] twcss-font-medium twcss-text-center'>
              Hem Rescue® vs. Creams
            </h2>
            <p class=' twcss-mb-[4rem] twcss-text-center twcss-text-[1.8rem]'>
              We believe in treating the root cause of hemorrhoids-not just masking symptoms. Here's how Rescue™ stacks
              up:
            </p>
            <!--
              row
                col
                col
                col
              row
            -->

            <div
              class='twcss-w-full lg:twcss-px-[4rem] twcss-bg-[--accent-color-3] twcss-rounded-3xl twcss-max-w-[110rem] twcss-mx-auto'
              id='comparison'
            >
              <div class='twcss-flex twcss-flex-row'>
                <div class='twcss-border-b twcss-border-black twcss-flex-grow lg:twcss-py-[4rem] twcss-py-[2rem] twcss-px-[2rem]'>
                  &nbsp;
                </div>
                <div class='twcss-flex twcss-justify-center twcss-items-center twcss-border-b twcss-border-black twcss-w-[23%] lg:twcss-py-[4rem] lg:twcss-px-[2rem] twcss-p-[.5rem] twcss-font-bold twcss-text-center lg:twcss-text-[2rem] twcss-bg-[--accent-color] twcss-text-white  twcss-rounded-t-3xl'>
                  Hem Rescue®
                </div>
                <div class='twcss-flex twcss-justify-center twcss-items-center twcss-border-b twcss-border-black twcss-w-[23%] lg:twcss-py-[4rem] lg:twcss-px-[2rem] twcss-p-[.5rem] twcss-font-bold twcss-text-center lg:twcss-text-[2rem] twcss-text-[1.2rem]'>
                  Creams & Ointments
                </div>
              </div>

              <div class='twcss-flex-row twcss-hidden'>
                <div
                  class='twcss-border-gray-400 twcss-flex-grow lg:twcss-py-[1rem] lg:twcss-px-[2rem] twcss-p-[.5rem] twcss-font-bold lg:twcss-text-[1.8rem] twcss-text-[1.2rem]'
                ></div>
                <div
                  class='twcss-flex-shrink-0 twcss-border-gray-400 twcss-w-[23%] twcss-bg-[--accent-color] lg:twcss-py-[1rem] lg:twcss-px-[2rem] twcss-p-[.5rem] twcss-flex twcss-justify-center '
                ></div>
              </div>
            </div>
          </div>
        </div>
        <!-- comparison end -->

        <div class='twcss-py-[5rem]'>
          <img
            src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/Hero_vs._Rescue_Desktop.png?v=1753795447'
            alt='ingredients'
            class='twcss-w-full lg:twcss-block twcss-hidden'
            width='auto'
            height='auto'
          >
          <img
            src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/Hero_vs._Rescue_Mobile_7e57c946-fc93-4c72-94d8-1df695ca9131.png?v=1753795447'
            alt='ingredients'
            class='twcss-w-auto twcss-mx-auto twcss-block lg:twcss-hidden'
            width='auto'
            height='auto'
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div
  id='videoModal'
  class='twcss-fixed twcss-inset-0 twcss-bg-black/80 twcss-z-50 twcss-items-center twcss-justify-center twcss-hidden twcss-flex'
  onclick='closeVideoModal()'
>
  <div class='twcss-relative twcss-w-full twcss-max-w-[120rem] twcss-aspect-video twcss-bg-black'>
    <iframe
      id='videoIframe'
      class='twcss-w-full twcss-h-full'
      src=''
      frameborder='0'
      allow='autoplay; fullscreen'
      allowfullscreen
    ></iframe>
    <button
      onclick='closeVideoModal()'
      class='twcss-absolute twcss-top-2 twcss-right-2 twcss-text-black twcss-bg-white twcss-rounded-full twcss-w-8 twcss-h-8 twcss-flex twcss-items-center twcss-justify-center'
    >
      ✕
    </button>
  </div>
</div>
<script>
  function openVideoModal(videoUrl) {
    const modal = document.getElementById('videoModal');
    const iframe = document.getElementById('videoIframe');
    iframe.src = videoUrl + '&autoplay=1';
    modal.classList.remove('twcss-hidden');
  }

  function closeVideoModal() {
    const modal = document.getElementById('videoModal');
    const iframe = document.getElementById('videoIframe');
    iframe.src = '';
    modal.classList.add('twcss-hidden');
  }

  // comparison
  let comparisonData = [
    'Works from the inside out',
    'Safe for sensitive systems',
    'Reduces inflammation and swelling',
    'Supports healthy circulation',
    'Strengthens blood vessel walls',
    'No mess or odor',
    'Easy daily capsule',
    'Doesn’t require touching affected area',
    'Great for long-term use',
  ];
  const comparisonContainer = document.getElementById('comparison');

  comparisonData.forEach((content, i) => {
    const item = document.createElement('div');
    item.className = 'twcss-flex twcss-flex-row';
    item.innerHTML = `
        <div class='${
          comparisonData.length - 1 == i ? '' : 'twcss-border-b'
        } twcss-border-gray-400 twcss-flex-grow lg:twcss-py-[1rem] lg:twcss-px-[2rem] twcss-p-[.5rem] twcss-font-bold lg:twcss-text-[1.8rem] twcss-text-[1.2rem]'>
          ${content}
        </div>
        <div class='twcss-flex-shrink-0 twcss-border-gray-400 twcss-w-[23%] twcss-bg-[--accent-color] lg:twcss-py-[1rem] lg:twcss-px-[2rem] twcss-p-[.5rem] twcss-flex twcss-justify-center ${
          comparisonData.length - 1 == i ? 'twcss-rounded-b-3xl' : 'twcss-border-b'
        }'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            height='24px'
            viewBox='0 -960 960 960'
            width='24px'
            fill='#C6E123'
          >
            <path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/>
          </svg>
        </div>
        <div class='${
          comparisonData.length - 1 == i ? '' : 'twcss-border-b'
        } twcss-flex-shrink-0 twcss-border-gray-400 twcss-w-[23%] lg:twcss-py-[1rem] lg:twcss-px-[2rem] twcss-p-[.5rem] twcss-flex twcss-justify-center'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            height='24px'
            viewBox='0 -960 960 960'
            width='24px'
            fill='#434343'
          >
            <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
          </svg>
        </div>
  `;

    comparisonContainer.appendChild(item);
  });
</script>
