{% style %}
  .zoom-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .zoom-content {
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 80%;
  }

  .zoom-modal .close {
    position: absolute;
    top: 30px;
    right: 45px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }
{% endstyle %}
<div class='color-{{ section.settings.color_scheme }} twcss-overflow-hidden twcss-relative twcss-bg-[--accent-color-3] twcss-bg-[top_center]'>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div class='twcss-flex twcss-flex-col lg:twcss-pt-[10rem] twcss-pt-[5rem] twcss-gap-[2rem] lg:twcss-pb-0 twcss-pb-[5rem]'>
        <h2 class='lg:twcss-text-[4.5rem] twcss-text-[2.5rem] twcss-font-medium twcss-text-center twcss-text-[--secondary-color] twcss-leading-[5.4rem]'>
          What Our Customers Are Saying
        </h2>
        <h3 class='lg:twcss-text-[7rem] twcss-text-[4.5rem] twcss-font-medium twcss-leading-none twcss-text-center'>
          Real Relief, Real Results
        </h3>
        <div
          id='amazon-reviews'
          class='twcss-grid lg:twcss-grid-cols-2 twcss-mt-[4rem] twcss-gap-[2rem] lg:twcss-pb-[5rem]'
        >
          <div class='amazon-reviews-left'></div>
          <div class='amazon-reviews-right'></div>
        </div>

        <div class='twcss-mx-auto twcss-leading-[0] twcss-py-[2rem] twcss-w-full'>
          <span class='twcss-mx-auto twcss-flex twcss-border-t twcss-border-[--accent-color] twcss-w-1/2 '>&nbsp;</span>
        </div>
        <a
          href='/pages/results'
          class='twcss-mx-auto twcss-inline-block hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-font-heading twcss-leading-none twcss-rounded-[.3rem] twcss-py-[1.2rem] twcss-px-[2.4rem] lg:twcss-text-[2rem] twcss-text-[1.6rem] twcss-text-white twcss-bg-[--accent-color] twcss-font-semibold twcss-text-center'
          >FIND OUT IF HEM HEALER® PRODUCTS REALLY WORK</a
        >
      </div>
      <div></div>
    </div>
  </div>
</div>
<div id='zoomModal' class='zoom-modal'>
  <span class='close'>&times;</span>
  <img class='zoom-content' id='zoomedImage'>
</div>
{% schema %}
{
  "name": "custom section VII",
  "settings": [
    // {
    //   "type": "text",
    //   "label": "Video URL",
    //   "id": "video"
    // }
  ],
  "presets": [
    {
      "name": "custom section VII"
    }
  ]
}
{% endschema %}
<script>
  const modal = document.getElementById('zoomModal');
  const modalImg = document.getElementById('zoomedImage');
  const images = document.querySelectorAll('.zoomable');
  const close = document.querySelector('.zoom-modal .close');

  images.forEach((img) => {
    img.addEventListener('click', () => {
      modal.style.display = 'flex';
      modalImg.src = img.src;
    });
  });

  close.onclick = function () {
    modal.style.display = 'none';
  };

  modal.onclick = function (event) {
    if (event.target === modal) {
      modal.style.display = 'none';
    }
  };

  let amazon_reviews = [
    'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/amazon_review_new_1.jpg?v=1746019732',
    'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/rev5.png?v=1746196672',
    'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/rev6.png?v=1746196672',
    'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/rev7.png?v=1746196672',
    'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/rev2.png?v=1744829151',
    'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/rev13.png?v=1746196672',
    'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/rev8.png?v=1746196672',
    'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/rev3.png?v=1744829151',
    'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/rev4.png?v=1744829150',
    'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/rev12.png?v=1746196672',
    'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/rev9.png?v=1746196673',
  ];

  // let amazon_reviews_container = document.querySelector('#amazon-reviews');
  let amazon_reviews_container_left = document.querySelector('.amazon-reviews-left');
  let amazon_reviews_container_right = document.querySelector('.amazon-reviews-right');

  amazon_reviews.forEach((url, i) => {
    const img = document.createElement('img');
    img.src = url.trim(); // Trim any accidental whitespace
    img.alt = 'Amazon Reviews';
    img.setAttribute(
      'class',
      'twcss-shadow-[0px_0px_10px_0px_rgba(0,0,0,0.5)] zoomable twcss-cursor-zoom-in twcss-mb-[2rem]',
    );

    if (i % 2 == 0) {
      amazon_reviews_container_left.appendChild(img);
      img.setAttribute('data-aos', 'fade-right');
    } else {
      amazon_reviews_container_right.appendChild(img);
      img.setAttribute('data-aos', 'fade-left');
    }
  });
</script>
