<div class='color-{{ section.settings.color_scheme }} twcss-relative twcss-pt-[15rem] twcss-bg-[url(https://cdn.shopify.com/s/files/1/0550/1560/4383/files/hemhealer-leaves-bg-png_2.png?v=1742323161)] twcss-bg-no-repeat twcss-bg-contain twcss-bg-[top_center]'>
  <div
    class='twcss-left-0 twcss-overflow-hidden twcss-absolute twcss-w-full twcss-leading-none twcss-top-0'
    data-negative='false'
  >
    <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 1000 100'
      preserveAspectRatio='none'
      class='twcss-w-[calc(132%+1.3px)] twcss-h-[13.1rem] twcss-relative twcss-left-1/2 -twcss-translate-x-1/2 twcss-fill-white'
    >
      <path class="elementor-shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
      c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
      c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
    </svg>
  </div>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div class='twcss-flex twcss-flex-col'>
        <h2 class='twcss-text-[4.5rem] twcss-font-medium twcss-text-center twcss-text-[--secondary-color] twcss-leading-[5.4rem]'>
          Find Your Relief
        </h2>
        <h3 class='twcss-text-[7rem] twcss-font-medium twcss-leading-none twcss-text-center'>
          Finally, a clean and convenient way to heal
        </h3>
      </div>
      <div class='twcss-gap-[4rem] twcss-mt-[4rem] twcss-grid twcss-grid-cols-3'>
        <div class='twcss-flex twcss-flex-col twcss-gap-[2rem] twcss-p-[1rem]'>
          <img
            src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/shop-hem-hero-png.png?v=1740997092'
            width='auto'
            height='auto'
            alt='Hem Hero'
            class='twcss-w-full'
          >
          <h4 class='twcss-mt-2 twcss-mb-4 twcss-text-[2.8rem] twcss-leading-none twcss-text-[--secondary-color] twcss-font-semibold'>
            HEM HERO™
          </h4>
          <h5 class='twcss-mt-2 twcss-mb-4 twcss-text-[2.8rem] twcss-leading-none twcss-font-medium'>
            Eliminate Hemorrhoids Fast
          </h5>
          <ul class='twcss-text-lg twcss-flex twcss-mb-auto twcss-gap-[1rem] twcss-flex-col *:twcss-flex *:twcss-items-start *:twcss-text-[1.8rem] *:twcss-text-black'>
            <li>
              <span class='material-symbols-outlined twcss-w-[2rem] twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'>
                check_circle
              </span>
              <span class='twcss-leading-[2.7rem]'>Extra-potent support for chronic hemorrhoid</span>
            </li>
            <li>
              <span class='material-symbols-outlined twcss-w-[2rem] twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'>
                check_circle </span
              ><span class='twcss-leading-[2.7rem]'>Targets inflammation, swelling, and pain</span>
            </li>
            <li>
              <span class='material-symbols-outlined twcss-w-[2rem] twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'>
                check_circle </span
              ><span class='twcss-leading-[2.7rem]'>Premium vein-strengthening ingredients</span>
            </li>
          </ul>

          <a
            href='#'
            class='twcss-block hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-font-["Barlow_Condensed"] twcss-leading-none twcss-rounded-[.3rem] twcss-mt-[2rem] twcss-py-[1.2rem] twcss-px-[2.4rem] twcss-text-[2rem] twcss-text-white twcss-bg-[--accent-color] twcss-font-semibold twcss-w-full twcss-text-center'
            >LEARN MORE</a
          >
          <a
            href='#'
            class='twcss-block hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-font-["Barlow_Condensed"] twcss-leading-none twcss-rounded-[.3rem] twcss-py-[1.2rem] twcss-px-[2.4rem] twcss-text-[2rem] twcss-text-white twcss-bg-[--accent-color-2] twcss-font-semibold twcss-w-full twcss-text-center'
            >BUY NOW</a
          >
        </div>
        <div class='twcss-flex twcss-flex-col twcss-gap-[2rem] twcss-p-[1rem]'>
          <img
            src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/shop-hem-easy-flow-fiber-png.png?v=1740999140'
            width='auto'
            height='auto'
            alt='Hem Hero'
            class='twcss-w-full'
          >
          <h4 class='twcss-mt-2 twcss-mb-4 twcss-text-[2.8rem] twcss-leading-none twcss-text-[--secondary-color] twcss-font-semibold'>
            HEM EASY-FLOW FIBER™
          </h4>
          <h5 class='twcss-mt-2 twcss-mb-4 twcss-text-[2.8rem] twcss-leading-none twcss-font-medium'>
            Amazing Constipation Relief
          </h5>
          <ul class='twcss-text-lg twcss-flex twcss-mb-auto twcss-gap-[1rem] twcss-flex-col *:twcss-flex *:twcss-items-start *:twcss-text-[1.8rem] *:twcss-text-black'>
            <li>
              <span class='material-symbols-outlined twcss-w-[2rem] twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'>
                check_circle
              </span>
              <span class='twcss-leading-[2.7rem]'>Promotes healthy bowel movements</span>
            </li>
            <li>
              <span class='material-symbols-outlined twcss-w-[2rem] twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'>
                check_circle </span
              ><span class='twcss-leading-[2.7rem]'>Reduces straining and pressure on veins</span>
            </li>
            <li>
              <span class='material-symbols-outlined twcss-w-[2rem] twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'>
                check_circle </span
              ><span class='twcss-leading-[2.7rem]'>Contains oat straw and cayenne for gut health</span>
            </li>
          </ul>

          <a
            href='#'
            class='twcss-block hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-font-["Barlow_Condensed"] twcss-leading-none twcss-rounded-[.3rem] twcss-mt-[2rem] twcss-py-[1.2rem] twcss-px-[2.4rem] twcss-text-[2rem] twcss-text-white twcss-bg-[--accent-color] twcss-font-semibold twcss-w-full twcss-text-center'
            >LEARN MORE</a
          >
          <a
            href='#'
            class='twcss-block hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-font-["Barlow_Condensed"] twcss-leading-none twcss-rounded-[.3rem] twcss-py-[1.2rem] twcss-px-[2.4rem] twcss-text-[2rem] twcss-text-white twcss-bg-[--accent-color-2] twcss-font-semibold twcss-w-full twcss-text-center'
            >BUY NOW</a
          >
        </div>
        <div class='twcss-flex twcss-flex-col twcss-gap-[2rem] twcss-p-[1rem]'>
          <img
            src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/shop-hem-rescue-png-600x439.png?v=1740999313'
            width='auto'
            height='auto'
            alt='Hem Hero'
            class='twcss-w-full'
          >
          <h4 class='twcss-mt-2 twcss-mb-4 twcss-text-[2.8rem] twcss-leading-none twcss-text-[--secondary-color] twcss-font-semibold'>
            HEM RESCUE™
          </h4>
          <h5 class='twcss-mt-2 twcss-mb-4 twcss-text-[2.8rem] twcss-leading-none twcss-font-medium'>
            Keep Hemorrhoids Away
          </h5>
          <ul class='twcss-text-lg twcss-flex twcss-mb-auto twcss-gap-[1rem] twcss-flex-col *:twcss-flex *:twcss-items-start *:twcss-text-[1.8rem] *:twcss-text-black'>
            <li>
              <span class='material-symbols-outlined twcss-w-[2rem] twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'>
                check_circle
              </span>
              <span class='twcss-leading-[2.7rem]'>Relieves swelling, itching, and discomfort</span>
            </li>
            <li>
              <span class='material-symbols-outlined twcss-w-[2rem] twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'>
                check_circle </span
              ><span class='twcss-leading-[2.7rem]'>Strengthens veins and promotes circulation</span>
            </li>
            <li>
              <span class='material-symbols-outlined twcss-w-[2rem] twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'>
                check_circle </span
              ><span class='twcss-leading-[2.7rem]'>Natural anti-inflammatory properties</span>
            </li>
          </ul>

          <a
            href='#'
            class='twcss-block hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-font-["Barlow_Condensed"] twcss-leading-none twcss-rounded-[.3rem] twcss-mt-[2rem] twcss-py-[1.2rem] twcss-px-[2.4rem] twcss-text-[2rem] twcss-text-white twcss-bg-[--accent-color] twcss-font-semibold twcss-w-full twcss-text-center'
            >LEARN MORE</a
          >
          <a
            href='#'
            class='twcss-block hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-font-["Barlow_Condensed"] twcss-leading-none twcss-rounded-[.3rem] twcss-py-[1.2rem] twcss-px-[2.4rem] twcss-text-[2rem] twcss-text-white twcss-bg-[--accent-color-2] twcss-font-semibold twcss-w-full twcss-text-center'
            >BUY NOW</a
          >
        </div>
      </div>
    </div>
  </div>
  <div
    class='twcss-left-0 twcss-overflow-hidden twcss-absolute twcss-w-full twcss-leading-none twcss-bottom-0 twcss-rotate-180 twcss-z-[-1]'
    data-negative='false'
  >
    <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 1000 100'
      preserveAspectRatio='none'
      class='twcss-w-[calc(132%+1.3px)] twcss-h-[18.9rem] twcss-relative twcss-left-1/2 -twcss-translate-x-1/2 twcss-fill-[#C6E1231F]'
    >
      <path class="elementor-shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
      c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
      c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
    </svg>
  </div>
</div>

{% schema %}
{
  "name": "custom section II",
  "settings": [
    // {
    //   "type": "text",
    //   "label": "Video URL",
    //   "id": "video"
    // }
  ],
  "presets": [
    {
      "name": "custom section II"
    }
  ]
}
{% endschema %}
