<div class='color-{{ section.settings.color_scheme }} twcss-overflow-hidden gradient lg:twcss-mt-[5rem] twcss-mt-[5rem]'>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div class='twcss-flex lg:twcss-gap-[4rem] twcss-gap-[2rem] twcss-flex-col'>
        {% comment %}
          <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] text-center twcss-text-black'>
            Unlike conventional hemorrhoid treatments like&nbsp;<strong
              >messy creams and uncomfortable suppositories</strong
            >,&nbsp;<strong>Hem Healer&reg;</strong>&nbsp;offers a simple, effective solution in easy-to-take&nbsp;<strong
              >capsules</strong
            >. Our powerful, science-backed formulas work&nbsp;<strong>from the inside out</strong>, strengthening veins,
            reducing inflammation, and promoting lasting relief&mdash;<strong>without the hassle.</strong>
          </p>
        {% endcomment %}
        <ul class='twcss-flex twcss-justify-center twcss-flex-wrap twcss-mx-auto twcss-font-heading lg:twcss-text-[3rem] twcss-text-[2.2rem] twcss-text-black twcss-z-50 twcss-text-center'>
          <li
            id='fast_acting_relief'
            class='twcss-flex twcss-items-center twcss-gap-[1rem] twcss-justify-center lg:twcss-px-[2.5rem] twcss-px-[.5rem] lg:twcss-border-r-2 twcss-border-[--accent-color]'
          >
            <div class=''>
              <svg
                aria-hidden='true'
                class='twcss-fill-[--accent-color] lg:twcss-w-[2rem] lg:twcss-h-[2rem] twcss-w-[1.8rem] twcss-h-[1.8rem]'
                viewBox='0 0 576 512'
                xmlns='http://www.w3.org/2000/svg'
              >
                <path d="M485.5 0L576 160H474.9L405.7 0h79.8zm-128 0l69.2 160H149.3L218.5 0h139zm-267 0h79.8l-69.2 160H0L90.5 0zM0 192h100.7l123 251.7c1.5 3.1-2.7 5.9-5 3.3L0 192zm148.2 0h279.6l-137 318.2c-1 2.4-4.5 2.4-5.5 0L148.2 192zm204.1 251.7l123-251.7H576L357.3 446.9c-2.3 2.7-6.5-.1-5-3.2z"></path>
              </svg>
            </div>
            <span>Fast Acting Relief</span>
          </li>
          <li
            id='support_healthy_circulation'
            class='twcss-flex twcss-items-center twcss-gap-[1rem] twcss-justify-center lg:twcss-px-[2.5rem] twcss-px-[.5rem] lg:twcss-border-r-2 twcss-border-[--accent-color]'
          >
            <div class=''>
              <svg
                aria-hidden='true'
                class='twcss-fill-[--accent-color] lg:twcss-w-[2rem] lg:twcss-h-[2rem] twcss-w-[1.8rem] twcss-h-[1.8rem]'
                viewBox='0 0 576 512'
                xmlns='http://www.w3.org/2000/svg'
              >
                <path d="M485.5 0L576 160H474.9L405.7 0h79.8zm-128 0l69.2 160H149.3L218.5 0h139zm-267 0h79.8l-69.2 160H0L90.5 0zM0 192h100.7l123 251.7c1.5 3.1-2.7 5.9-5 3.3L0 192zm148.2 0h279.6l-137 318.2c-1 2.4-4.5 2.4-5.5 0L148.2 192zm204.1 251.7l123-251.7H576L357.3 446.9c-2.3 2.7-6.5-.1-5-3.2z"></path>
              </svg>
            </div>
            <span>Support Healthy Circulation</span>
          </li>
          <li
            id='strengthen_veins_and_capillaries'
            class='twcss-flex twcss-items-center twcss-gap-[1rem] twcss-justify-center lg:twcss-px-[2.5rem] twcss-px-[.5rem]'
          >
            <div class=''>
              <svg
                aria-hidden='true'
                class='twcss-fill-[--accent-color] lg:twcss-w-[2rem] lg:twcss-h-[2rem] twcss-w-[1.8rem] twcss-h-[1.8rem]'
                viewBox='0 0 576 512'
                xmlns='http://www.w3.org/2000/svg'
              >
                <path d="M485.5 0L576 160H474.9L405.7 0h79.8zm-128 0l69.2 160H149.3L218.5 0h139zm-267 0h79.8l-69.2 160H0L90.5 0zM0 192h100.7l123 251.7c1.5 3.1-2.7 5.9-5 3.3L0 192zm148.2 0h279.6l-137 318.2c-1 2.4-4.5 2.4-5.5 0L148.2 192zm204.1 251.7l123-251.7H576L357.3 446.9c-2.3 2.7-6.5-.1-5-3.2z"></path>
              </svg>
            </div>
            <span>Strengthen Veins & Capillaries</span>
          </li>
        </ul>
        <div class='twcss-relative'>
          <img
            class='twcss-w-full lg:-twcss-mt-[14rem] -twcss-z-[1]'
            src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/Hem_Healer_Products_v3.png?v=1763482224'
            alt='hem healer bottles'
            width='auto'
            height='auto'
          >
          {% comment %}
            <a
              href='https://www.hemhealer.com/collections/frontpage'
              class='twcss-left-1/2 -twcss-translate-x-1/2 twcss-top-[83%] lg:twcss-absolute twcss-relative twcss-block hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-leading-normal twcss-rounded-[.3rem] twcss-py-[1.3rem] twcss-px-[2.5rem] lg:twcss-text-[3rem] twcss-text-[1.6rem] twcss-text-white twcss-bg-[--accent-color-2] twcss-font-semibold lg:twcss-w-1/2 twcss-w-full twcss-text-center'
              >Start Healing Today!</a
            >
          {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "custom section I",
  "settings": [
    // {
    //   "type": "text",
    //   "label": "Video URL",
    //   "id": "video"
    // }
  ],
  "presets": [
    {
      "name": "custom section I"
    }
  ]
}
{% endschema %}
