{% style %}
  .zoom-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .zoom-content {
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 80%;
  }

  .zoom-modal .close {
    position: absolute;
    top: 30px;
    right: 45px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }
{% endstyle %}
<div class='color-{{ section.settings.color_scheme }} twcss-overflow-hidden twcss-relative twcss-bg-[--accent-color-3] twcss-bg-[top_center]'>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div class='twcss-flex twcss-flex-col lg:twcss-pt-[10rem] twcss-pt-[5rem] twcss-gap-[2rem] lg:twcss-pb-0 twcss-pb-[5rem]'>
        <h2 class='lg:twcss-text-[4.5rem] twcss-text-[2.5rem] twcss-font-medium twcss-text-center twcss-text-[--secondary-color] twcss-leading-[5.4rem]'>
          What Our Customers Are Saying
        </h2>
        <h3 class='lg:twcss-text-[7rem] twcss-text-[4.5rem] twcss-font-medium twcss-leading-none twcss-text-center twcss-mb-[5rem]'>
          Real Relief, Real Results
        </h3>
        {% comment %}
          <div
            id='amazon-reviews'
            class='twcss-grid lg:twcss-grid-cols-2 twcss-mt-[4rem] twcss-gap-[2rem] '
          >
            <div class='amazon-reviews-left'></div>
            <div class='amazon-reviews-right'></div>
          </div>
        {% endcomment %}
        <div
          id='testimonial-container'
          class='twcss-grid lg:twcss-grid-cols-2 twcss-grid-cols-1 twcss-justify-center twcss-max-w-[80rem] lg:twcss-gap-x-[5rem] lg:twcss-gap-y-[3rem] twcss-gap-[4rem] twcss-m-auto'
        >
          <div class='lg:twcss-w-full twcss-w-full twcss-text-center twcss-hidden'>
            <div class='twcss-relative twcss-aspect-square twcss-mb-[2rem]'>
              <img
                src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/rafael.jpg?v=1749673917'
                alt='Rafael testimonial'
                class='twcss-w-full twcss-object-cover twcss-rounded-3xl twcss-absolute'
              >
              <button
                onclick="openVideoModal('https://player.vimeo.com/video/714032857?h=c455811032&title=0&byline=0&portrait=0')"
                class='twcss-relative twcss-w-full twcss-aspect-square  twcss-text-white twcss-flex twcss-items-center twcss-justify-center twcss-cursor-pointer'
              >
                <span class='lg:twcss-text-[8rem] twcss-text-[5rem] twcss-pl-[1rem] twcss-bg-[#C6E12380]  twcss-rounded-full lg:twcss-w-[11rem] lg:twcss-h-[11rem] twcss-w-[7rem] twcss-h-[7rem] lg:twcss-leading-[10rem] twcss-leading-[6.5rem]'
                  >▶</span
                >
              </button>
            </div>
            <div class='twcss-h-[3rem] twcss-mb-[2.4rem]'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                class='twcss-mx-auto twcss-w-full'
                width='202'
                height='30'
                fill='none'
                viewBox='0 0 202 30'
              >
                <path fill="#FFAE34" fill-rule="evenodd" d="M5.98916 29.9211c-.30996 0-.61843-.0957-.87898-.2842-.44923-.3262-.68283-.8737-.60346-1.4242l1.3911-9.7301-5.459598-5.456c-.3968164-.3964-.5375739-.9799-.3668679-1.514.1707059-.534.6259219-.9275 1.1784659-1.0188L9.48265 9.122 13.6335.828097c.2561-.510141.8176-.8467447 1.3477-.82729652.5705.00299203 1.0886.32912352 1.3387.84225652L20.294 8.99933l8.4185 1.49747c.5496.0973.9988.4922 1.1665 1.0233.1677.5326.0255 1.1131-.3698 1.5065l-5.4611 5.456 1.3926 9.7301c.0778.5535-.1558 1.104-.611 1.4286-.4537.3262-1.0527.3696-1.5483.1182l-8.2029-4.1499-8.42598 4.1559c-.20964.1047-.43725.1556-.66336.1556Zm42.78324 0c-.31 0-.6185-.0957-.879-.2842-.4492-.3262-.6828-.8737-.6035-1.4242l1.3911-9.7301-5.4596-5.456c-.3968-.3964-.5375-.9799-.3668-1.514.1707-.534.6259-.9275 1.1784-1.0188l8.2328-1.3718L56.4167.828097c.2561-.510141.8176-.8467447 1.3477-.82729652.5705.00299203 1.0886.32912352 1.3387.84225652l3.9741 8.156273 8.4185 1.49747c.5496.0973.9988.4922 1.1665 1.0233.1677.5326.0255 1.1131-.3698 1.5065l-5.4611 5.456 1.3926 9.7301c.0778.5535-.1558 1.104-.611 1.4286-.4537.3262-1.0527.3696-1.5483.1182l-8.2029-4.1499-8.426 4.1559c-.2096.1047-.4372.1556-.6633.1556Zm42.7834 0c-.31 0-.6184-.0957-.879-.2842-.4492-.3262-.6828-.8737-.6034-1.4242l1.3911-9.7301-5.4596-5.456c-.3968-.3964-.5376-.9799-.3669-1.514.1707-.534.6259-.9275 1.1785-1.0188l8.2328-1.3718L99.2001.828097c.2561-.510141.8179-.8467447 1.3479-.82729652.57.00299203 1.088.32912352 1.339.84225652l3.974 8.156273 8.418 1.49747c.55.0973.999.4922 1.167 1.0233.167.5326.025 1.1131-.37 1.5065l-5.461 5.456 1.392 9.7301c.078.5535-.155 1.104-.611 1.4286-.453.3262-1.052.3696-1.548.1182l-8.203-4.1499-8.4258 4.1559c-.2097.1047-.4373.1556-.6634.1556Zm42.7832 0c-.31 0-.619-.0957-.879-.2842-.449-.3262-.683-.8737-.604-1.4242l1.391-9.7301-5.459-5.456c-.397-.3964-.538-.9799-.367-1.514.171-.534.626-.9275 1.178-1.0188l8.233-1.3718 4.151-8.293903c.256-.510141.818-.8467447 1.348-.82729652.57.00299203 1.088.32912352 1.338.84225652l3.975 8.156273 8.418 1.49747c.55.0973.999.4922 1.167 1.0233.167.5326.025 1.1131-.37 1.5065l-5.461 5.456 1.392 9.7301c.078.5535-.155 1.104-.611 1.4286-.453.3262-1.052.3696-1.548.1182l-8.203-4.1499-8.426 4.1559c-.21.1047-.437.1556-.663.1556Zm42.783 0c-.31 0-.618-.0957-.879-.2842-.449-.3262-.682-.8737-.603-1.4242l1.391-9.7301-5.459-5.456c-.397-.3964-.538-.9799-.367-1.514.17-.534.626-.9275 1.178-1.0188l8.233-1.3718 4.151-8.293903c.256-.510141.817-.8467447 1.347-.82729652.571.00299203 1.089.32912352 1.339.84225652l3.974 8.156273 8.419 1.49747c.549.0973.999.4922 1.166 1.0233.168.5326.026 1.1131-.37 1.5065l-5.461 5.456 1.393 9.7301c.078.5535-.156 1.104-.611 1.4286-.454.3262-1.053.3696-1.548.1182l-8.203-4.1499-8.426 4.1559c-.21.1047-.437.1556-.664.1556Z" clip-rule="evenodd"></path>
              </svg>
            </div>
            <p class='lg:twcss-text-[3rem] twcss-text-[2rem] twcss-font-bold twcss-uppercase twcss-mb-[2.4rem] twcss-leading-none'>
              “I have suffered for 4 yrs and tried A LOT of different things this is the only stuff that has worked.”<br>
              <span class='twcss-text-[2rem] twcss-font-medium'>-RAFAEL</span>
            </p>
          </div>
        </div>

        <div class='twcss-mx-auto twcss-leading-[0] twcss-py-[2rem] twcss-w-full'>
          <span class='twcss-mx-auto twcss-flex twcss-border-t twcss-border-[--accent-color] twcss-w-1/2 '>&nbsp;</span>
        </div>
        <a
          href='/pages/results'
          class='twcss-mx-auto twcss-inline-block hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-font-heading twcss-leading-none twcss-rounded-[.3rem] twcss-py-[1.2rem] twcss-px-[2.4rem] lg:twcss-text-[2rem] twcss-text-[1.6rem] twcss-text-white twcss-bg-[--accent-color] twcss-font-semibold twcss-text-center'
          >FIND OUT IF HEM HEALER® PRODUCTS REALLY WORK</a
        >
      </div>
      <div></div>
    </div>
  </div>
</div>
{% comment %}
  <div id='zoomModal' class='zoom-modal'>
    <span class='close'>&times;</span>
    <img class='zoom-content' id='zoomedImage'>
  </div>
{% endcomment %}

<!-- Modal -->
<div
  id='videoModal'
  class='twcss-fixed twcss-inset-0 twcss-bg-black/80 twcss-z-50 twcss-items-center twcss-justify-center twcss-hidden twcss-flex'
  onclick='closeVideoModal()'
>
  <div class='twcss-relative twcss-w-full twcss-max-w-[120rem] twcss-aspect-video twcss-bg-black'>
    <iframe
      id='videoIframe'
      class='twcss-w-full twcss-h-full'
      src=''
      frameborder='0'
      allow='autoplay; fullscreen'
      allowfullscreen
    ></iframe>
    <button
      onclick='closeVideoModal()'
      class='twcss-absolute twcss-top-2 twcss-right-2 twcss-text-black twcss-bg-white twcss-rounded-full twcss-w-8 twcss-h-8 twcss-flex twcss-items-center twcss-justify-center'
    >
      ✕
    </button>
  </div>
</div>
{% schema %}
{
  "name": "custom section VII",
  "settings": [
    // {
    //   "type": "text",
    //   "label": "Video URL",
    //   "id": "video"
    // }
  ],
  "presets": [
    {
      "name": "custom section VII"
    }
  ]
}
{% endschema %}
<script>
  function openVideoModal(videoUrl) {
    const modal = document.getElementById('videoModal');
    const iframe = document.getElementById('videoIframe');
    iframe.src = videoUrl + '&autoplay=1';
    modal.classList.remove('twcss-hidden');
  }

  function closeVideoModal() {
    const modal = document.getElementById('videoModal');
    const iframe = document.getElementById('videoIframe');
    iframe.src = '';
    modal.classList.add('twcss-hidden');
  }
  document.addEventListener('DOMContentLoaded', function () {
    /*
    const modal = document.getElementById('zoomModal');
    const modalImg = document.getElementById('zoomedImage');
    const images = document.querySelectorAll('.zoomable');
    const close = document.querySelector('.zoom-modal .close');

    images.forEach((img) => {
      img.addEventListener('click', () => {
        modal.style.display = 'flex';
        modalImg.src = img.src;
      });
    });

    close.onclick = function () {
      modal.style.display = 'none';
    };

    modal.onclick = function (event) {
      if (event.target === modal) {
        modal.style.display = 'none';
      }
    };

    let amazon_reviews = [
      'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/amazon_review_new_1.jpg?v=1746019732',
      'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/rev5.png?v=1746196672',
      'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/rev6.png?v=1746196672',
      'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/rev7.png?v=1746196672',
      'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/rev2.png?v=1744829151',
      'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/rev13.png?v=1746196672',
      'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/rev8.png?v=1746196672',
      'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/rev3.png?v=1744829151',
      'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/rev4.png?v=1744829150',
      'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/rev12.png?v=1746196672',
      'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/rev9.png?v=1746196673',
    ];

    // let amazon_reviews_container = document.querySelector('#amazon-reviews');
    let amazon_reviews_container_left = document.querySelector('.amazon-reviews-left');
    let amazon_reviews_container_right = document.querySelector('.amazon-reviews-right');

    amazon_reviews.forEach((url, i) => {
      const img = document.createElement('img');
      img.src = url.trim(); // Trim any accidental whitespace
      img.alt = 'Amazon Reviews';
      img.setAttribute(
        'class',
        'twcss-shadow-[0px_0px_10px_0px_rgba(0,0,0,0.5)] zoomable twcss-cursor-zoom-in twcss-mb-[2rem]',
      );

      if (i % 2 == 0) {
        amazon_reviews_container_left.appendChild(img);
        img.setAttribute('data-aos', 'fade-right');
      } else {
        amazon_reviews_container_right.appendChild(img);
        img.setAttribute('data-aos', 'fade-left');
      }
    });*/

    // video modals

    const testimonials = [
      // {
      //   imgSrc:
      //     'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/4_75e9337f-0c20-4ce6-867e-d19363d71a43.png?v=1751644982',
      //   videoSrc: 'https://player.vimeo.com/video/1053016994',
      //   quote: '“Until I found Hem Hero®, living with this was unbearable.',
      //   author: '-Marco',
      // },
      // {
      //   imgSrc:
      //     'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/2_4b385dad-dbd3-41e8-bbd0-4d6dfbffe691.png?v=1751644982',
      //   videoSrc: 'https://player.vimeo.com/video/1082131139',
      //   quote: '“This is a product that actually does what it says.',
      //   author: '-Greg',
      // },
      {
        imgSrc: 'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/6.png?v=1751644982',
        videoSrc: 'https://player.vimeo.com/video/1082132281',
        quote: '“This is the only thing that has helped me.',
        author: '-Amy',
      },
      {
        imgSrc: 'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/8.png?v=1751645168',
        videoSrc: 'https://player.vimeo.com/video/812083970?h=8c39fd2b9e&title=0&byline=0&portrait=0',
        quote: '"It has greatly improved my well-being, and my mental health.',
        author: '-Joanna',
      },
      {
        imgSrc: 'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/10.png?v=1751644982',
        videoSrc: 'https://player.vimeo.com/video/621266399?h=c4c04b295a&title=0&byline=0&portrait=0',
        quote: "\"It's the most amazing thing that I've ever taken, because it actually works!",
        author: '-Marc',
      },
      {
        imgSrc: 'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/16.png?v=1751644982',
        videoSrc: 'https://player.vimeo.com/video/707945831?h=fc95207f74&title=0&byline=0&portrait=0',
        quote: '"It immediately started working and helping with the symptoms',
        author: '-Bob',
      },
      {
        imgSrc: 'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/18.png?v=1751644982',
        videoSrc: 'https://player.vimeo.com/video/621182922?h=529f4ad338&title=0&byline=0&portrait=0',
        quote: "\"I continue to take it, and I'm fine. Thank God, I've been fine since [taking Hem Hero®]!",
        author: '-Terri',
      },
    ];

    const container = document.getElementById('testimonial-container'); // Make sure your HTML has this container

    testimonials.forEach(({ imgSrc, videoSrc, quote, author }) => {
      const dv = document.createElement('div');
      dv.setAttribute('class', 'lg:twcss-w-full twcss-w-full twcss-text-center');
      let testimonial_html = `<div class='lg:twcss-w-full twcss-w-full twcss-text-center'>
        <div class='twcss-relative twcss-aspect-square twcss-mb-[2rem]'>
          <img
            src='${imgSrc}'
            alt='Rafael testimonial'
            class='twcss-w-full twcss-object-cover twcss-rounded-3xl twcss-mb-[2.4rem] twcss-absolute'
          >
          <button
            onclick="openVideoModal('${videoSrc}?h=c455811032&title=0&byline=0&portrait=0')"
            class='twcss-relative twcss-w-full twcss-aspect-square  twcss-text-white twcss-flex twcss-items-center twcss-justify-center twcss-cursor-pointer'
          >
            <span class='lg:twcss-text-[8rem] twcss-text-[5rem] twcss-pl-[1rem] twcss-bg-[#C6E12380]  twcss-rounded-full lg:twcss-w-[11rem] lg:twcss-h-[11rem] twcss-w-[7rem] twcss-h-[7rem] lg:twcss-leading-[10rem] twcss-leading-[6.5rem]'
              >▶</span
            >
          </button>
        </div>
        <div class='twcss-h-[3rem] twcss-mb-[2.4rem]'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='twcss-mx-auto twcss-w-full'
            width='202'
            height='30'
            fill='none'
            viewBox='0 0 202 30'
          >
            <path fill="#FFAE34" fill-rule="evenodd" d="M5.98916 29.9211c-.30996 0-.61843-.0957-.87898-.2842-.44923-.3262-.68283-.8737-.60346-1.4242l1.3911-9.7301-5.459598-5.456c-.3968164-.3964-.5375739-.9799-.3668679-1.514.1707059-.534.6259219-.9275 1.1784659-1.0188L9.48265 9.122 13.6335.828097c.2561-.510141.8176-.8467447 1.3477-.82729652.5705.00299203 1.0886.32912352 1.3387.84225652L20.294 8.99933l8.4185 1.49747c.5496.0973.9988.4922 1.1665 1.0233.1677.5326.0255 1.1131-.3698 1.5065l-5.4611 5.456 1.3926 9.7301c.0778.5535-.1558 1.104-.611 1.4286-.4537.3262-1.0527.3696-1.5483.1182l-8.2029-4.1499-8.42598 4.1559c-.20964.1047-.43725.1556-.66336.1556Zm42.78324 0c-.31 0-.6185-.0957-.879-.2842-.4492-.3262-.6828-.8737-.6035-1.4242l1.3911-9.7301-5.4596-5.456c-.3968-.3964-.5375-.9799-.3668-1.514.1707-.534.6259-.9275 1.1784-1.0188l8.2328-1.3718L56.4167.828097c.2561-.510141.8176-.8467447 1.3477-.82729652.5705.00299203 1.0886.32912352 1.3387.84225652l3.9741 8.156273 8.4185 1.49747c.5496.0973.9988.4922 1.1665 1.0233.1677.5326.0255 1.1131-.3698 1.5065l-5.4611 5.456 1.3926 9.7301c.0778.5535-.1558 1.104-.611 1.4286-.4537.3262-1.0527.3696-1.5483.1182l-8.2029-4.1499-8.426 4.1559c-.2096.1047-.4372.1556-.6633.1556Zm42.7834 0c-.31 0-.6184-.0957-.879-.2842-.4492-.3262-.6828-.8737-.6034-1.4242l1.3911-9.7301-5.4596-5.456c-.3968-.3964-.5376-.9799-.3669-1.514.1707-.534.6259-.9275 1.1785-1.0188l8.2328-1.3718L99.2001.828097c.2561-.510141.8179-.8467447 1.3479-.82729652.57.00299203 1.088.32912352 1.339.84225652l3.974 8.156273 8.418 1.49747c.55.0973.999.4922 1.167 1.0233.167.5326.025 1.1131-.37 1.5065l-5.461 5.456 1.392 9.7301c.078.5535-.155 1.104-.611 1.4286-.453.3262-1.052.3696-1.548.1182l-8.203-4.1499-8.4258 4.1559c-.2097.1047-.4373.1556-.6634.1556Zm42.7832 0c-.31 0-.619-.0957-.879-.2842-.449-.3262-.683-.8737-.604-1.4242l1.391-9.7301-5.459-5.456c-.397-.3964-.538-.9799-.367-1.514.171-.534.626-.9275 1.178-1.0188l8.233-1.3718 4.151-8.293903c.256-.510141.818-.8467447 1.348-.82729652.57.00299203 1.088.32912352 1.338.84225652l3.975 8.156273 8.418 1.49747c.55.0973.999.4922 1.167 1.0233.167.5326.025 1.1131-.37 1.5065l-5.461 5.456 1.392 9.7301c.078.5535-.155 1.104-.611 1.4286-.453.3262-1.052.3696-1.548.1182l-8.203-4.1499-8.426 4.1559c-.21.1047-.437.1556-.663.1556Zm42.783 0c-.31 0-.618-.0957-.879-.2842-.449-.3262-.682-.8737-.603-1.4242l1.391-9.7301-5.459-5.456c-.397-.3964-.538-.9799-.367-1.514.17-.534.626-.9275 1.178-1.0188l8.233-1.3718 4.151-8.293903c.256-.510141.817-.8467447 1.347-.82729652.571.00299203 1.089.32912352 1.339.84225652l3.974 8.156273 8.419 1.49747c.549.0973.999.4922 1.166 1.0233.168.5326.026 1.1131-.37 1.5065l-5.461 5.456 1.393 9.7301c.078.5535-.156 1.104-.611 1.4286-.454.3262-1.053.3696-1.548.1182l-8.203-4.1499-8.426 4.1559c-.21.1047-.437.1556-.664.1556Z" clip-rule="evenodd"></path>
          </svg>
        </div>
        <p class='lg:twcss-text-[3rem] twcss-text-[2rem] twcss-font-bold twcss-uppercase twcss-mb-[2.4rem] twcss-leading-none'>
          ${quote}<br><br>
          <span class='twcss-text-[2rem] twcss-font-medium'>${author}</span>
        </p>
      </div>`;
      dv.innerHTML = testimonial_html;
      container.appendChild(dv);
    });
  });
</script>
