<div class='color-{{ section.settings.color_scheme }} twcss-overflow-hidden gradient'>
  <div class='video-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div id='youtube-wrapper'>
        <div id='youtube-player'></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "custom video",
  "settings": [
    {
      "type": "text",
      "label": "Video URL",
      "id": "video"
    }
  ],
  "presets": [
    {
      "name": "Custom Video"
    }
  ]
}
{% endschema %}

<script>
  const videoId = '1LysFbJwHCg'; // Replace with your actual video ID
  const iframe = document.createElement('iframe');

  iframe.width = '100%';
  iframe.height = 'auto';
  iframe.style = 'aspect-ratio:16/9';
  iframe.src = `https://www.youtube.com/embed/${videoId}?autoplay=1&mute=1&controls=1&loop=1&playlist=${videoId}`; // 'mute=1' is required for autoplay in most browsers
  iframe.frameBorder = '0';
  iframe.allow = 'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture';
  iframe.allowFullscreen = true;
  title = 'Where Hem Healer is manufactured!🇺🇸 #hemorrhoids #hemorrhoidtreatment  #naturalmedicine  #piles';

  document.getElementById('youtube-player').appendChild(iframe);
</script>
