<div class='color-{{ section.settings.color_scheme }} gradient twcss-pt-[15rem]'>
  <div class='video-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div class='twcss-flex twcss-flex-col'>
        <h2 class='twcss-text-[4.5rem] twcss-font-medium twcss-text-center twcss-text-[--secondary-color] twcss-leading-[5.4rem]'>
          Find Your Relief
        </h2>
        <h3 class='twcss-text-[7rem] twcss-font-medium twcss-leading-none twcss-text-center'>
          Finally, a clean and convenient way to heal
        </h3>
      </div>
      <div class='twcss-gap-[4rem] twcss-mt-[4rem] twcss-grid twcss-grid-cols-3'>
        <div class='twcss-flex twcss-flex-col twcss-gap-[2rem] twcss-p-[1rem]'>
          <img
            src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/shop-hem-hero-png.png?v=1740997092'
            width='auto'
            height='auto'
            alt='Hem Hero'
            class='twcss-w-full'
          >
          <h4 class='twcss-mt-2 twcss-mb-4 twcss-text-[2.8rem] twcss-leading-none twcss-text-[--secondary-color] twcss-font-semibold'>
            HEM HERO™
          </h4>
          <h5 class='twcss-mt-2 twcss-mb-4 twcss-text-[2.8rem] twcss-leading-none twcss-font-medium'>
            Eliminate Hemorrhoids Fast
          </h5>
          <ul class='twcss-text-lg twcss-flex twcss-mb-auto twcss-gap-[1rem] twcss-flex-col *:twcss-flex *:twcss-items-start *:twcss-text-[1.8rem] *:twcss-text-black'>
            <li>
              <span class='material-symbols-outlined twcss-w-[2rem] twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'>
                check_circle
              </span>
              <span class='twcss-leading-[2.7rem]'>Extra-potent support for chronic hemorrhoid</span>
            </li>
            <li>
              <span class='material-symbols-outlined twcss-w-[2rem] twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'>
                check_circle </span
              ><span class='twcss-leading-[2.7rem]'>Targets inflammation, swelling, and pain</span>
            </li>
            <li>
              <span class='material-symbols-outlined twcss-w-[2rem] twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'>
                check_circle </span
              ><span class='twcss-leading-[2.7rem]'>Premium vein-strengthening ingredients</span>
            </li>
          </ul>

          <a
            href='#'
            class='hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-font-["Barlow_Condensed"] twcss-leading-none twcss-rounded-[.3rem] twcss-mt-[2rem] twcss-py-[1.2rem] twcss-px-[2.4rem] twcss-text-[2rem] twcss-text-white twcss-bg-[--accent-color] twcss-font-semibold twcss-w-full twcss-text-center'
            >LEARN MORE</a
          >
          <a
            href='#'
            class='hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-font-["Barlow_Condensed"] twcss-leading-none twcss-rounded-[.3rem] twcss-py-[1.2rem] twcss-px-[2.4rem] twcss-text-[2rem] twcss-text-white twcss-bg-[--accent-color-2] twcss-font-semibold twcss-w-full twcss-text-center'
            >BUY NOW</a
          >
        </div>
        <div class='twcss-flex twcss-flex-col twcss-gap-[2rem] twcss-p-[1rem]'>
          <img
            src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/shop-hem-easy-flow-fiber-png.png?v=1740999140'
            width='auto'
            height='auto'
            alt='Hem Hero'
            class='twcss-w-full'
          >
          <h4 class='twcss-mt-2 twcss-mb-4 twcss-text-[2.8rem] twcss-leading-none twcss-text-[--secondary-color] twcss-font-semibold'>
            HEM EASY-FLOW FIBER™
          </h4>
          <h5 class='twcss-mt-2 twcss-mb-4 twcss-text-[2.8rem] twcss-leading-none twcss-font-medium'>
            Amazing Constipation Relief
          </h5>
          <ul class='twcss-text-lg twcss-flex twcss-mb-auto twcss-gap-[1rem] twcss-flex-col *:twcss-flex *:twcss-items-start *:twcss-text-[1.8rem] *:twcss-text-black'>
            <li>
              <span class='material-symbols-outlined twcss-w-[2rem] twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'>
                check_circle
              </span>
              <span class='twcss-leading-[2.7rem]'>Promotes healthy bowel movements</span>
            </li>
            <li>
              <span class='material-symbols-outlined twcss-w-[2rem] twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'>
                check_circle </span
              ><span class='twcss-leading-[2.7rem]'>Reduces straining and pressure on veins</span>
            </li>
            <li>
              <span class='material-symbols-outlined twcss-w-[2rem] twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'>
                check_circle </span
              ><span class='twcss-leading-[2.7rem]'>Contains oat straw and cayenne for gut health</span>
            </li>
          </ul>

          <a
            href='#'
            class='hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-font-["Barlow_Condensed"] twcss-leading-none twcss-rounded-[.3rem] twcss-mt-[2rem] twcss-py-[1.2rem] twcss-px-[2.4rem] twcss-text-[2rem] twcss-text-white twcss-bg-[--accent-color] twcss-font-semibold twcss-w-full twcss-text-center'
            >LEARN MORE</a
          >
          <a
            href='#'
            class='hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-font-["Barlow_Condensed"] twcss-leading-none twcss-rounded-[.3rem] twcss-py-[1.2rem] twcss-px-[2.4rem] twcss-text-[2rem] twcss-text-white twcss-bg-[--accent-color-2] twcss-font-semibold twcss-w-full twcss-text-center'
            >BUY NOW</a
          >
        </div>
        <div class='twcss-flex twcss-flex-col twcss-gap-[2rem] twcss-p-[1rem]'>
          <img
            src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/shop-hem-rescue-png-600x439.png?v=1740999313'
            width='auto'
            height='auto'
            alt='Hem Hero'
            class='twcss-w-full'
          >
          <h4 class='twcss-mt-2 twcss-mb-4 twcss-text-[2.8rem] twcss-leading-none twcss-text-[--secondary-color] twcss-font-semibold'>
            HEM RESCUE™
          </h4>
          <h5 class='twcss-mt-2 twcss-mb-4 twcss-text-[2.8rem] twcss-leading-none twcss-font-medium'>
            Keep Hemorrhoids Away
          </h5>
          <ul class='twcss-text-lg twcss-flex twcss-mb-auto twcss-gap-[1rem] twcss-flex-col *:twcss-flex *:twcss-items-start *:twcss-text-[1.8rem] *:twcss-text-black'>
            <li>
              <span class='material-symbols-outlined twcss-w-[2rem] twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'>
                check_circle
              </span>
              <span class='twcss-leading-[2.7rem]'>Relieves swelling, itching, and discomfort</span>
            </li>
            <li>
              <span class='material-symbols-outlined twcss-w-[2rem] twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'>
                check_circle </span
              ><span class='twcss-leading-[2.7rem]'>Strengthens veins and promotes circulation</span>
            </li>
            <li>
              <span class='material-symbols-outlined twcss-w-[2rem] twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'>
                check_circle </span
              ><span class='twcss-leading-[2.7rem]'>Natural anti-inflammatory properties</span>
            </li>
          </ul>

          <a
            href='#'
            class='hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-font-["Barlow_Condensed"] twcss-leading-none twcss-rounded-[.3rem] twcss-mt-[2rem] twcss-py-[1.2rem] twcss-px-[2.4rem] twcss-text-[2rem] twcss-text-white twcss-bg-[--accent-color] twcss-font-semibold twcss-w-full twcss-text-center'
            >LEARN MORE</a
          >
          <a
            href='#'
            class='hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-font-["Barlow_Condensed"] twcss-leading-none twcss-rounded-[.3rem] twcss-py-[1.2rem] twcss-px-[2.4rem] twcss-text-[2rem] twcss-text-white twcss-bg-[--accent-color-2] twcss-font-semibold twcss-w-full twcss-text-center'
            >BUY NOW</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "custom section II",
  "settings": [
    // {
    //   "type": "text",
    //   "label": "Video URL",
    //   "id": "video"
    // }
  ],
  "presets": [
    {
      "name": "custom section II"
    }
  ]
}
{% endschema %}
