<div class='color-{{ section.settings.color_scheme }} twcss-overflow-hidden twcss-relative twcss-bg-[--accent-color] twcss-pb-[15rem] twcss-bg-[top_center]'>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div class='twcss-flex twcss-flex-col twcss-gap-[2rem]'>
        <h2 class='lg:twcss-text-[7rem] twcss-text-[4.5rem]  twcss-pt-[5rem] twcss-pb-[4rem] twcss-font-medium twcss-text-center twcss-text-[--accent-color-2] twcss-leading-none'>
          Bundle & Save
        </h2>
        <div class='twcss-flex lg:twcss-flex-row twcss-flex-col twcss-gap-[4rem] '>
          <div class='twcss-bg-white twcss-flex twcss-flex-col lg:twcss-gap-[4rem] twcss-gap-[2rem] lg:twcss-px-[4rem] twcss-px-[2rem] lg:twcss-pt-[4rem] twcss-pt-[2rem] lg:twcss-pb-[6rem] twcss-pb-[4rem] lg:twcss-w-1/2 twcss-w-full twcss-shadow-[0px_0px_10px_0px_rgba(0,0,0,0.5)]'>
            <h3 class='lg:twcss-text-[4.5rem] twcss-text-[3.5rem]  twcss-font-medium twcss-leading-none'>
              Heroic Combo Pack
            </h3>
            <h4 class='lg:twcss-text-[2.6rem] twcss-text-[2.2rem] twcss-font-bold twcss-text-[--secondary-color] twcss-underline twcss-font-body twcss-leading-none'>
              HEM HERO™ + HEM EASY-FLOW FIBER™
            </h4>
            <img
              src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/HH_EFF.png?v=1745586334'
              alt='hem hero easy flow'
              width='auto'
              height='auto'
            >
            <p class='twcss-my-[1.8rem] lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-text-black'>
              For&nbsp;<strong>maximum hemorrhoid relief and long-term prevention</strong>, combining&nbsp;<strong
                >Hem Hero</strong
              >&trade; with&nbsp;<strong>Hem Easy-Flow Fiber</strong>&trade; delivers&nbsp;<strong>powerful,</strong
              >&nbsp;<strong>inside-out support</strong>&nbsp;for your veins and digestion. Pair these two for
              all-around hemorrhoid relief and prevention!
            </p>
            <a
              href='/products/heroic-combo-pack'
              class='twcss-font-heading lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-rounded-[.3rem] twcss-text-white twcss-text-center twcss-font-semibold twcss-py-[.6rem] twcss-px-[2rem] twcss-bg-[--accent-color] hover:twcss-scale-[.9] twcss-transition-all '
              >SHOP NOW</a
            >
          </div>
          <div class='twcss-bg-white twcss-flex twcss-flex-col lg:twcss-gap-[4rem] twcss-gap-[2rem] lg:twcss-px-[4rem] twcss-px-[2rem] lg:twcss-pt-[4rem] twcss-pt-[2rem] lg:twcss-pb-[6rem] twcss-pb-[4rem] lg:twcss-w-1/2 twcss-w-full twcss-shadow-[0px_0px_10px_0px_rgba(0,0,0,0.5)]'>
            <h3 class='lg:twcss-text-[4.5rem] twcss-text-[3.5rem]  twcss-font-medium twcss-leading-none'>
              Prevention Power Pack
            </h3>
            <h4 class='lg:twcss-text-[2.6rem] twcss-text-[2.2rem] twcss-font-bold twcss-text-[--secondary-color] twcss-underline twcss-font-body twcss-leading-none'>
              HEM RESCUE® – Heart-Friendly Formula + HEM EASY-FLOW FIBER™
            </h4>
            <img
              src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/HR_EFF.png?v=1745586334'
              alt='hem hero easy flow'
              width='auto'
              height='auto'
            >
            <p class='twcss-my-[1.8rem] lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-text-black'>
              The best way to deal with hemorrhoids?&nbsp;<strong>Stop them before they start!</strong
              >&nbsp;Combining&nbsp;<strong>Hem Rescue® – Heart-Friendly Formula</strong>&nbsp;with&nbsp;<strong
                >Hem Easy-Flow Fiber&trade;</strong
              >&nbsp;provides&nbsp;<strong>daily support for healthy veins and digestion</strong>, reducing your risk of
              future flare-ups.
            </p>
            <a
              href='/products/prevention-power-pack'
              class='twcss-font-heading lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-rounded-[.3rem] twcss-text-white twcss-text-center twcss-font-semibold twcss-py-[.6rem] twcss-px-[2rem] twcss-bg-[--accent-color] hover:twcss-scale-[.9] twcss-transition-all '
              >SHOP NOW</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "custom section IX",
  "settings": [
    // {
    //   "type": "text",
    //   "label": "Video URL",
    //   "id": "video"
    // }
  ],
  "presets": [
    {
      "name": "custom section IX"
    }
  ]
}
{% endschema %}
