<div class='color-{{ section.settings.color_scheme }} twcss-overflow-hidden gradient'>
  {% comment %}
    <div class='twcss-flex twcss-justify-center lg:twcss-py-[4rem] twcss-py-[3rem]'>
      <a
        href='/collections/frontpage'
        class='twcss-mx-auto twcss-inline-block hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-font-heading twcss-rounded-full twcss-py-[1.2rem] lg:twcss-px-[10rem] twcss-px-[5rem] lg:twcss-text-[4rem] twcss-text-[2rem] twcss-text-white twcss-bg-[--accent-color-2] twcss-font-semibold twcss-text-center twcss-tracking-widest'
        >Shop Now</a
      >
    </div>
  {% endcomment %}

  <div class='video-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div class='twcss-py-[3rem]'>
        <h1 class='lg:twcss-text-[10rem] twcss-text-[4rem] twcss-leading-none twcss-font-medium twcss-text-center twcss-mb-[1rem]'>
          Say “Goodbye” to Hemorrhoids
        </h1>
        <h2 class='lg:twcss-text-[5rem] twcss-text-[2rem]  twcss-leading-none twcss-font-medium twcss-text-center twcss-max-w-[111rem] twcss-mx-auto'>
          An Oral Supplement Trusted by 100,000+ Customers to Help Ease the Itching, Burning, Bleeding, and Pain of
          Hemorrhoids.
        </h2>
        <div class='twcss-mx-auto twcss-leading-[0] twcss-py-[1.5rem] twcss-w-full'>
          <span class='twcss-mx-auto twcss-flex twcss-border-t twcss-border-[--accent-color] lg:twcss-w-1/2 twcss-w-[70%]'
            >&nbsp;</span
          >
        </div>
      </div>
      <script src='https://www.youtube.com/iframe_api' id='iframe-demo'></script>
      <div id='youtube-wrapper' class='twcss-aspect-video twcss-bg-[--accent-color-3]'>
        {% comment %} <div id='youtube-player'></div> {% endcomment %}
        <lite-youtube
          id='youtube-player'
          videoid='1LysFbJwHCg'
          autoload
          params='autoplay=1&mute=1&loop=1&controls=1&modestbranding=1&playsinline=1&rel=0&enablejsapi=1'
        >
          <a class='lite-youtube-fallback' href='https://www.youtube.com/watch?v=1LysFbJwHCg'
            >Where Hem Healer is manufactured!</a
          >
        </lite-youtube>
      </div>
    </div>
  </div>
  <div class='twcss-flex twcss-justify-center lg:twcss-pt-[6rem] twcss-pt-[3rem]'>
    <a
      href='/collections/frontpage'
      class='twcss-mx-auto twcss-inline-block hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-font-heading twcss-rounded-full twcss-py-[1.2rem] lg:twcss-px-[10rem] twcss-px-[5rem] lg:twcss-text-[6rem] twcss-text-[3rem] twcss-text-white twcss-bg-[--accent-color] twcss-font-semibold twcss-text-center twcss-tracking-wider'
      >Buy Now</a
    >
  </div>
</div>

{% schema %}
{
  "name": "custom video",
  "settings": [
    {
      "type": "text",
      "label": "Video URL",
      "id": "video"
    }
  ],
  "presets": [
    {
      "name": "Custom Video"
    }
  ]
}
{% endschema %}

<script>
  /*const videoId = '1LysFbJwHCg'; 
  const iframe = document.createElement('iframe');

  iframe.width = '100%';
  iframe.height = 'auto';
  iframe.style = 'aspect-ratio:16/9';
  iframe.src = `https://www.youtube.com/embed/${videoId}?autoplay=1&mute=1&controls=1&loop=1&playlist=${videoId}`; // 'mute=1' is required for autoplay in most browsers
  iframe.frameBorder = '0';
  iframe.allow = 'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture';
  iframe.allowFullscreen = true;
  title = 'Where Hem Healer is manufactured!🇺🇸 #hemorrhoids #hemorrhoidtreatment  #naturalmedicine  #piles';

  document.getElementById('youtube-player').appendChild(iframe);*/
  let player;

  function setupYT() {
    player = new YT.Player(document.querySelector('#youtube-player').shadowRoot.querySelector('iframe'), {
      events: {
        onReady: onPlayerReady,
      },
    });
  }

  function onPlayerReady() {
    player.playVideo();
  }

  document.addEventListener(
    'liteYoutubeIframeLoaded',
    () => {
      try {
        setupYT();
      } catch (e) {
        setTimeout(setupYT, 100);
      }
    },
    false,
  );
</script>
