<div class='color-{{ section.settings.color_scheme }} twcss-overflow-hidden gradient'>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div class='twcss-w-full twcss-pb-[5rem]'>
        <div class='twcss-pt-[5rem]'>
          <h2 class='lg:twcss-text-[4.5rem] twcss-text-[2.5rem] twcss-font-bold twcss-text-center'>
            DOES HEM HERO® REALLY WORK?
          </h2>
          <h3 class='lg:twcss-text-[7rem] twcss-text-[3rem] twcss-text-center twcss-mb-[4rem]'>
            Real Stories From Real Users
          </h3>
          <div
            id='testimonial-container'
            class='twcss-grid lg:twcss-grid-cols-2 lg:twcss-gap-[3rem] twcss-gap-[2rem]'
          ></div>
          {% comment %} <div id='customer-testimonial'></div> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class='twcss-bg-[#4182a6]'>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div class='twcss-w-full twcss-py-[5rem]'>
        <h2 class='lg:twcss-text-[4.5rem] twcss-text-[2.5rem] twcss-text-center twcss-mb-[3rem] twcss-text-white twcss-font-body'>
          Customer <span class='twcss-font-bold'>Testimonial</span>
        </h2>
        <div
          id='testimonial-images'
          class='twcss-grid lg:twcss-grid-cols-2 lg:twcss-gap-[3rem] twcss-gap-[2rem]'
        >
          <div id='testimonial-images-left'></div>
          <div id='testimonial-images-right'></div>
        </div>
        <div class='twcss-text-center twcss-mt-[5rem]'>
          <a
            href='/collections/frontpage'
            class='twcss-text-white twcss-inline-block twcss-bg-[--accent-color] twcss-px-[2rem] twcss-py-[1.5rem] twcss-text-[2rem] twcss-leading-none'
          >
            <span class='twcss-flex'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#ffffff'
              >
                <path d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM208-800h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Z"/>
              </svg>
              <span class='twcss-font-bold'>Click Here to Buy Now</span>
            </span>
            <span class='twcss-text-[1.4rem]'>90 DAY MONEY BACK GUARANTEE</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='twcss-bg-white'>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div class='twcss-w-full twcss-py-[5rem]'>
        <h2 class='lg:twcss-text-[4.5rem] twcss-text-[2.5rem] twcss-text-center twcss-mb-[3rem] twcss-text-white twcss-font-body'>
          REVIEWS FROM <span class='twcss-font-bold'>AMAZON</span>
        </h2>
        <div
          id='amazon-reviews'
          class=''
        ></div>
        <div class='twcss-text-center twcss-mt-[5rem]'>
          <a
            href='/collections/frontpage'
            class='twcss-text-white twcss-inline-block twcss-bg-[--accent-color] twcss-px-[2rem] twcss-py-[1.5rem] twcss-text-[2rem] twcss-leading-none'
          >
            <span class='twcss-flex'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#ffffff'
              >
                <path d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM208-800h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Z"/>
              </svg>
              <span class='twcss-font-bold'>Click Here to Buy Hem Hero®</span>
            </span>
            <span class='twcss-text-[1.4rem]'>90 DAY MONEY BACK GUARANTEE</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "custom section hem hero",
  "settings": [
    // {
    //   "type": "text",
    //   "label": "Video URL",
    //   "id": "video"
    // }
  ],
  "presets": [
    {
      "name": "custom section hem hero"
    }
  ]
}
{% endschema %}
<style>
  #testimonial-container p {
    font-size: 2.4rem;
    font-style: italic;
    text-align: center;
    padding-top: 2rem;
  }
  #testimonial-images img {
    margin-bottom: 3rem;
    width: 100%;
  }
  #amazon-reviews img {
    margin-bottom: 3rem;
    width: 100%;
    box-shadow: 0px 0px 10px 1px #ccc;
  }

  @media (max-width: 990px) {
    #testimonial-container p {
      font-size: 1.6rem;
    }
    #testimonial-images img {
      margin-bottom: 2rem;
    }
    #amazon-reviews img {
      margin-bottom: 2rem;
    }
  }
</style>
<script>
  const testimonials = [
    {
      videoSrc: 'https://player.vimeo.com/video/1053016994',
      quote: '“Until I found Hem Hero®, living with this was unbearable.',
      author: '-Marco',
    },
    {
      videoSrc: 'https://player.vimeo.com/video/1082131139',
      quote: '“This is a product that actually does what it says.',
      author: '-Greg',
    },
    {
      videoSrc: 'https://player.vimeo.com/video/1082132281',
      quote: '“This is the only thing that has helped me.',
      author: '-Amy',
    },
    {
      videoSrc: 'https://player.vimeo.com/video/812083970?h=8c39fd2b9e&title=0&byline=0&portrait=0',
      quote: '"It has greatly improved my well-being, and my mental health.',
      author: '-Joanna',
    },
    {
      videoSrc: 'https://player.vimeo.com/video/621266399?h=c4c04b295a&title=0&byline=0&portrait=0',
      quote: "\"It's the most amazing thing that I've ever taken, because it actually works!",
      author: '-Marc',
    },
    {
      videoSrc: 'https://player.vimeo.com/video/621170719?h=697c4595ab&title=0&byline=0&portrait=0',
      quote: '"Once I started taking Hem Hero®, all the pain went away...Try it! Get your life back!',
      author: '-Dave',
    },
    {
      videoSrc: 'https://player.vimeo.com/video/621175911?h=a3879340ca&title=0&byline=0&portrait=0',
      quote: '"Hem Hero® totally changed my entire lifestyle and totally changed my mood.',
      author: '-Keon',
    },
    {
      videoSrc: 'https://player.vimeo.com/video/621204720?h=033f28bae1&title=0&byline=0&portrait=0',
      quote: '"I\'m healed, I\'m not having pain!"',
      author: '',
    },
    {
      videoSrc: 'https://player.vimeo.com/video/621194349?h=b483946db3&title=0&byline=0&portrait=0',
      quote: '"I\'ve been pain free, and the discomfort has not come back."',
      author: '',
    },
    {
      videoSrc: 'https://player.vimeo.com/video/707945831?h=fc95207f74&title=0&byline=0&portrait=0',
      quote: '"It immediately started working and helping with the symptoms',
      author: '-Bob',
    },
    {
      videoSrc: 'https://player.vimeo.com/video/877100287?h=0fa476d455&title=0&byline=0&portrait=0',
      quote: '"I’m so glad that I chose Hem Hero. It has really changed my life."',
      author: '',
    },
    {
      videoSrc: 'https://player.vimeo.com/video/621182922?h=529f4ad338&title=0&byline=0&portrait=0',
      quote: "\"I continue to take it, and I'm fine. Thank God, I've been fine since [taking Hem Hero®]!",
      author: '-Terri',
    },
    {
      videoSrc:
        'https://player.vimeo.com/video/725624934?fbclid=IwAR2pw8ovolWHt90hw-j6uuwaRWBeIKc6sj3jHGY-8Ozx7c4uimZ7Cjly3F0',
      quote: '"So far so good! The result since I\'ve taken Hem Hero®, I absolutely have no more bleeding"',
      author: '',
    },
    {
      videoSrc: 'https://player.vimeo.com/video/823127020?h=030112d661&title=0&byline=0&portrait=0',
      quote: '"Since I\'ve been taking it the pain started to go away, the bleeding has went away almost completely',
      author: '-Nathaniel',
    },
    {
      videoSrc: 'https://player.vimeo.com/video/877100343?h=301a2aefc5&title=0&byline=0&portrait=0',
      quote: '"It’s really changed my day-to-day life. I’m able to go out with confidence."',
      author: '',
    },
  ];

  const container = document.getElementById('testimonial-container'); // Make sure your HTML has this container

  testimonials.forEach(({ videoSrc, quote, author }) => {
    const wrapper = document.createElement('div');

    const iframe = document.createElement('iframe');
    iframe.className = 'video-testimonial-iframe twcss-aspect-video';
    iframe.src = videoSrc;
    iframe.width = '100%';
    iframe.style.aspectRatio = '16/9';

    const paragraph = document.createElement('p');
    paragraph.innerHTML = `${quote} <br> ${author}`;

    wrapper.appendChild(iframe);
    wrapper.appendChild(paragraph);
    container.appendChild(wrapper);
  });

  let customer_testimonials = [
    'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/com3.png?v=1652167884',
    '\nhttps://cdn.shopify.com/s/files/1/0550/1560/4383/files/com6.png?v=1652167884',
    '\nhttps://cdn.shopify.com/s/files/1/0550/1560/4383/files/com7.png?v=1652167884',
    '\nhttps://cdn.shopify.com/s/files/1/0550/1560/4383/files/com8.png?v=1652167884',
    '\nhttps://cdn.shopify.com/s/files/1/0550/1560/4383/files/dan_testimonial_057096d1-df7d-466c-bfb7-daa749046648.png?v=1652167884',
    '\nhttps://cdn.shopify.com/s/files/1/0550/1560/4383/files/Screen_Shot_2022-05-09_at_3.56.21_PM.png?v=1652167885',
    '\nhttps://cdn.shopify.com/s/files/1/0550/1560/4383/files/steveg.png?v=1652167884',
    '\nhttps://cdn.shopify.com/s/files/1/0550/1560/4383/files/tycomment.png?v=1652167884',
    '\nhttps://cdn.shopify.com/s/files/1/0550/1560/4383/files/dan_testimonial_057096d1-df7d-466c-bfb7-daa749046648.png?v=1652167884',
    '\nhttps://cdn.shopify.com/s/files/1/0550/1560/4383/files/Screen_Shot_2022-05-09_at_3.56.15_PM.png?v=1652167884',
    'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/davefb.png?v=1652167884',
    '\nhttps://cdn.shopify.com/s/files/1/0550/1560/4383/files/facebook_comments_b5157f87-1835-4f69-aaab-dffd6b3e30de.png?v=1652167885',
    '\nhttps://cdn.shopify.com/s/files/1/0550/1560/4383/files/IMG_0066.jpg?v=1652167884',
    '\nhttps://cdn.shopify.com/s/files/1/0550/1560/4383/files/IMG_2150-jpeg.jpg?v=1652167884',
    '\nhttps://cdn.shopify.com/s/files/1/0550/1560/4383/files/IMG_2151-jpeg.jpg?v=1652167884',
    '\nhttps://cdn.shopify.com/s/files/1/0550/1560/4383/files/IMG_2378.png?v=1652167884',
    '\nhttps://cdn.shopify.com/s/files/1/0550/1560/4383/files/recommended.png?v=1652167884',
    '\nhttps://cdn.shopify.com/s/files/1/0550/1560/4383/files/ryan_d03dc4aa-a3cc-4efd-900e-901ab89a7af5.png?v=1652167885',
    '\nhttps://cdn.shopify.com/s/files/1/0550/1560/4383/files/Screen_Shot_2022-05-09_at_3.41.17_PM.png?v=1652167884',
    '\nhttps://cdn.shopify.com/s/files/1/0550/1560/4383/files/Screen_Shot_2022-05-09_at_3.43.31_PM.png?v=1652167884',
    '\nhttps://cdn.shopify.com/s/files/1/0550/1560/4383/files/Screen_Shot_2022-05-09_at_3.56.08_PM.png?v=1652167885',
  ];
  const imageContainerLeft = document.getElementById('testimonial-images-left'); // Ensure this exists in your HTML
  const imageContainerRight = document.getElementById('testimonial-images-right'); // Ensure this exists in your HTML

  customer_testimonials.forEach((url, i) => {
    const img = document.createElement('img');
    img.src = url.trim(); // Trim any accidental whitespace
    img.alt = 'Customer Testimonial';
    if (customer_testimonials.length / 2 > i) {
      imageContainerLeft.appendChild(img);
    } else {
      imageContainerRight.appendChild(img);
    }
  });

  let amazon_reviews = [
    'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/Amazon_Review_21v2.png?v=1745511706',
    'https://cdn.shopify.com/s/files/1/0550/1560/4383/files/Amazon_Review_22v2.png?v=1745511707',
    '//www.hemhealer.com/cdn/shop/files/Amazon_Review.webp?v=1702703006',
    '//www.hemhealer.com/cdn/shop/files/Amazon_Review_2.webp?v=1702703051',
    '//www.hemhealer.com/cdn/shop/files/Amazon_Review_3.webp?v=1702703051',
    '//www.hemhealer.com/cdn/shop/files/Amazon_Review_4.webp?v=1702703051',
    '//www.hemhealer.com/cdn/shop/files/Amazon_Review_5.webp?v=1702703051',
    '//www.hemhealer.com/cdn/shop/files/Amazon_Review_6.webp?v=1702703051',
    '//www.hemhealer.com/cdn/shop/files/Amazon_Review_7.webp?v=1702703051',
    '//www.hemhealer.com/cdn/shop/files/Amazon_Review_8.webp?v=1702703051',
    '//www.hemhealer.com/cdn/shop/files/Amazon_Review_9.webp?v=1702703051',
    '//www.hemhealer.com/cdn/shop/files/Amazon_Review_10.webp?v=1702703480',
    '//www.hemhealer.com/cdn/shop/files/Amazon_Review_11.webp?v=1702703051',
    '//www.hemhealer.com/cdn/shop/files/Amazon_Review_12.webp?v=1702703050',
    '//www.hemhealer.com/cdn/shop/files/Amazon_Review_13.webp?v=1702703051',
    '//www.hemhealer.com/cdn/shop/files/Amazon_Review_14.webp?v=1702703051',
    '//www.hemhealer.com/cdn/shop/files/Amazon_Review_15.webp?v=1702703051',
    '//www.hemhealer.com/cdn/shop/files/Amazon_Review_16.webp?v=1702703051',
    '//www.hemhealer.com/cdn/shop/files/Amazon_Review_17.webp?v=1702703050',
    '//www.hemhealer.com/cdn/shop/files/Amazon_Review_18.webp?v=1702703051',
    '//www.hemhealer.com/cdn/shop/files/Amazon_Review_19.webp?v=1702703050',
    '//www.hemhealer.com/cdn/shop/files/Amazon_Review_20.webp?v=1702703050',
  ];
  const imageReviews = document.getElementById('amazon-reviews'); // Ensure this exists in your HTML

  amazon_reviews.forEach((url, i) => {
    const img = document.createElement('img');
    img.src = url.trim(); // Trim any accidental whitespace
    img.alt = 'Amazon Review';
    imageReviews.appendChild(img);
  });
</script>
