<div class='color-{{ section.settings.color_scheme }} twcss-relative lg:twcss-pt-[15rem] twcss-pt-[5rem] lg:twcss-pb-[10rem] twcss-pb-[5rem]'>
  <div
    class='twcss-left-0 twcss-overflow-hidden twcss-absolute twcss-w-full twcss-leading-none twcss-top-0 twcss-rotate-180'
  >
    <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 1000 100'
      preserveAspectRatio='none'
      class='lg:twcss-w-[calc(142%+1.3px)] twcss-w-[calc(268%+1.3px)] lg:twcss-h-[17.3rem] twcss-h-[7.7rem] twcss-relative twcss-left-1/2 -twcss-translate-x-1/2 twcss-fill-[--accent-color-3]'
    >
      <path class="elementor-shape-fill" d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3
      c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3
      c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z"></path>
    </svg>
  </div>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div class='twcss-flex twcss-gap-[2rem] twcss-flex-col'>
        <h2 class='lg:twcss-text-[7rem] twcss-text-[4.5rem] twcss-font-medium twcss-leading-none twcss-text-center'>
          Find the Right Hem Healer® Product for You
        </h2>
        <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-text-center'>
          Not sure which product is best for your needs? Use our quick guide to choose the right Hem Healer® solution
          based on your symptoms.
        </p>
        <div class='twcss-mt-[2rem]'>
          <img
            src='https://www.hemhealer.com/cdn/shop/files/find-the-right-hem-healer-products1-1536x942_1_1200x.png?v=1741717904'
            alt='find the right hem healer products'
            width='auto'
            height='auto'
            class='w-full'
          >
        </div>
      </div>
    </div>
  </div>
  <div
    class='twcss-left-0 twcss-overflow-hidden twcss-absolute twcss-w-full twcss-leading-none twcss-bottom-0 twcss-z-[-1] twcss-rotate-180'
  >
    <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 1000 100'
      preserveAspectRatio='none'
      class='lg:twcss-w-[calc(100%+1.3px)] twcss-w-[calc(201%+1.3px)] lg:twcss-h-auto twcss-h-[4.4rem] twcss-relative twcss-left-1/2 -twcss-translate-x-1/2 twcss-fill-[--accent-color]'
    >
      <path class="elementor-shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
      c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
      c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
    </svg>
  </div>
</div>

{% schema %}
{
  "name": "custom section VIII",
  "settings": [
    // {
    //   "type": "text",
    //   "label": "Video URL",
    //   "id": "video"
    // }
  ],
  "presets": [
    {
      "name": "custom section VIII"
    }
  ]
}
{% endschema %}
