<div class='color-{{ section.settings.color_scheme }} twcss-relative lg:twcss-pt-[15rem] twcss-pt-[5rem] twcss-bg-[url(https://cdn.shopify.com/s/files/1/0550/1560/4383/files/hemhealer-leaves-bg-png_2.png?v=1742323161)] twcss-bg-no-repeat lg:twcss-bg-contain twcss-bg-[77.6rem_auto] twcss-bg-[top_center]'>
  <div
    class='twcss-left-0 twcss-overflow-hidden twcss-absolute twcss-w-full twcss-leading-none twcss-top-0'
    data-negative='false'
  >
    <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 1000 100'
      preserveAspectRatio='none'
      class='lg:twcss-w-[calc(132%+1.3px)] twcss-w-[calc(186%+1.3px)] lg:twcss-h-[13.1rem] twcss-h-[4.6rem] twcss-relative twcss-left-1/2 -twcss-translate-x-1/2 twcss-fill-white'
    >
      <path class="elementor-shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
      c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
      c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
    </svg>
  </div>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div class='twcss-flex twcss-flex-col'>
        <h2 class='lg:twcss-text-[4.5rem] twcss-text-[2.5rem] twcss-font-medium lg:twcss-text-center twcss-text-[--secondary-color] twcss-leading-[5.4rem]'>
          Finally, a Clean and Convenient Way to Heal Naturally
        </h2>
        <h3 class='lg:twcss-text-[7rem] twcss-text-[4.5rem] twcss-font-medium twcss-leading-none lg:twcss-text-center'>
          Real Relief, Backed by Natural Ingredients and Proven Results
        </h3>
      </div>
      <div class='twcss-gap-[4rem] lg:twcss-mt-[4rem] twcss-mt-[2rem] twcss-grid lg:twcss-grid-cols-3 twcss-grid-cols-1'>
        <div class='twcss-flex twcss-flex-col lg:twcss-gap-[2rem] twcss-gap-[1rem] lg:twcss-p-[1rem]'>
          <img
            src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/shop-hem-hero-png.png?v=1740997092'
            width='auto'
            height='auto'
            alt='Hem Hero'
            class='twcss-w-full'
          >
          <h4 class='twcss-mt-2 lg:twcss-mb-4 lg:twcss-text-[2.8rem] twcss-text-[2.2rem] twcss-leading-none twcss-text-[--secondary-color] twcss-font-semibold'>
            HEM HERO™
          </h4>
          <h5 class='twcss-mt-2 twcss-mb-4 lg:twcss-text-[2.8rem] twcss-text-[2rem] twcss-leading-none twcss-font-medium'>
            Fast-Acting Hemorrhoid Relief for Chronic Cases
          </h5>
          <ul class='twcss-text-lg twcss-flex twcss-mb-auto twcss-gap-[1rem] twcss-flex-col *:twcss-flex *:twcss-items-start lg:*:twcss-text-[1.8rem] *:twcss-text-[1.5rem] *:twcss-text-black'>
            <li>
              <svg
                class='material-symbols-outlined twcss-w-[2rem] twcss-flex-shrink-0 twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#3D8124'
              >
                <path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
              </svg>
              <span class='twcss-leading-[2.2rem]'>
                Clinically formulated with Diosmin and Hesperidin – two powerful citrus bioflavonoids shown in studies
                to reduce chronic venous insufficiency and hemorrhoid severity.
              </span>
            </li>
            <li>
              <svg
                class='material-symbols-outlined twcss-w-[2rem] twcss-flex-shrink-0 twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#3D8124'
              >
                <path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
              </svg>
              <span class='twcss-leading-[2.2rem]'
                >Horse Chestnut Extract – rich in Aescin, this botanical improves vein tone, reduces capillary
                permeability, and minimizes swelling.
              </span>
            </li>
            <li>
              <svg
                class='material-symbols-outlined twcss-w-[2rem] twcss-flex-shrink-0 twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#3D8124'
              >
                <path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
              </svg>
              <span class='twcss-leading-[2.2rem]'
                >Targets inflammation at the root – acts directly at the venous source to relieve pain, pressure, and
                swelling associated with internal and external hemorrhoids.
              </span>
            </li>
            <li>
              <svg
                class='material-symbols-outlined twcss-w-[2rem] twcss-flex-shrink-0 twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#3D8124'
              >
                <path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
              </svg>
              <span class='twcss-leading-[2.2rem]'
                >Strengthens vascular walls – promotes better blood flow and prevents future rupture or vein collapse.
              </span>
            </li>
            <li>
              <svg
                class='material-symbols-outlined twcss-w-[2rem] twcss-flex-shrink-0 twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#3D8124'
              >
                <path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
              </svg>
              <span class='twcss-leading-[2.2rem]'
                >Trusted by long-term sufferers – designed for those with persistent or recurring flare-ups who need
                sustained, therapeutic-grade support.
              </span>
            </li>
            <li>
              <svg
                class='material-symbols-outlined twcss-w-[2rem] twcss-flex-shrink-0 twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#3D8124'
              >
                <path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
              </svg>
              <span class='twcss-leading-[2.2rem]'
                >One capsule AM, two capsules PM – taken with food for maximum absorption and relief.
              </span>
            </li>
            <li>
              <svg
                class='material-symbols-outlined twcss-w-[2rem] twcss-flex-shrink-0 twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#3D8124'
              >
                <path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
              </svg>
              <span class='twcss-leading-[2.2rem]'
                >Made in an FDA-registered, GMP-certified facility in the USA – guaranteeing potency and purity in every
                bottle.
              </span>
            </li>
          </ul>
          <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-text-black'>
            <strong>Best For</strong>:Long-term sufferers who need maximum-strength daily support to restore comfort and
            confidence.
          </p>

          <a
            href='/pages/hem-hero™'
            class='twcss-block hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-font-heading twcss-leading-none twcss-rounded-[.3rem] twcss-mt-[2rem] twcss-py-[1.2rem] twcss-px-[2.4rem] lg:twcss-text-[2rem] twcss-text-[1.6rem] twcss-text-white twcss-bg-[--accent-color] twcss-font-semibold twcss-w-full twcss-text-center'
            >LEARN MORE</a
          >
          <a
            href='/products/hem-healer'
            class='twcss-block hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-font-heading twcss-leading-none twcss-rounded-[.3rem] twcss-py-[1.2rem] twcss-px-[2.4rem] lg:twcss-text-[2rem] twcss-text-[1.6rem] twcss-text-white twcss-bg-[--accent-color-2] twcss-font-semibold twcss-w-full twcss-text-center'
            >BUY NOW</a
          >
        </div>
        <div class='twcss-flex twcss-flex-col lg:twcss-gap-[2rem] twcss-gap-[1rem] lg:twcss-p-[1rem]'>
          <img
            src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/shop-hem-easy-flow-fiber-png.png?v=1740999140'
            width='auto'
            height='auto'
            alt='Hem Hero'
            class='twcss-w-full'
          >
          <h4 class='twcss-mt-2 lg:twcss-mb-4 lg:twcss-text-[2.8rem] twcss-text-[2.2rem] twcss-leading-none twcss-text-[--secondary-color] twcss-font-semibold'>
            HEM EASY-FLOW FIBER™
          </h4>
          <h5 class='twcss-mt-2 twcss-mb-4 lg:twcss-text-[2.8rem] twcss-text-[2.2rem] twcss-leading-none twcss-font-medium'>
            Gentle, Effective Constipation Relief Without Bloating
          </h5>
          <ul class='twcss-text-lg twcss-flex twcss-mb-auto twcss-gap-[1rem] twcss-flex-col *:twcss-flex *:twcss-items-start *:twcss-text-[1.8rem] *:twcss-text-black'>
            <li>
              <svg
                class='material-symbols-outlined twcss-w-[2rem] twcss-flex-shrink-0 twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#3D8124'
              >
                <path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
              </svg>
              <span class='twcss-leading-[2.2rem]'>
                Oat Fiber + Natural Cayenne – promotes smooth, regular bowel movements without the gas or cramping
                associated with harsh laxatives.
              </span>
            </li>
            <li>
              <svg
                class='material-symbols-outlined twcss-w-[2rem] twcss-flex-shrink-0 twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#3D8124'
              >
                <path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
              </svg>
              <span class='twcss-leading-[2.2rem]'
                >Reduces straining on rectal veins – less pushing means less pressure and risk of flare-ups.
              </span>
            </li>
            <li>
              <svg
                class='material-symbols-outlined twcss-w-[2rem] twcss-flex-shrink-0 twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#3D8124'
              >
                <path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
              </svg>
              <span class='twcss-leading-[2.2rem]'
                >Supports healthy microbiome balance – oat fiber feeds beneficial gut bacteria while cayenne stimulates
                digestion naturally.
              </span>
            </li>
            <li>
              <svg
                class='material-symbols-outlined twcss-w-[2rem] twcss-flex-shrink-0 twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#3D8124'
              >
                <path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
              </svg>
              <span class='twcss-leading-[2.2rem]'
                >Capsule format – clean and simple, no messy powders or flavorings.
              </span>
            </li>
            <li>
              <svg
                class='material-symbols-outlined twcss-w-[2rem] twcss-flex-shrink-0 twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#3D8124'
              >
                <path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
              </svg>
              <span class='twcss-leading-[2.2rem]'
                >Safe for daily use – helps keep things moving and prevent buildup of pressure that can worsen
                hemorrhoids.
              </span>
            </li>
            <li>
              <svg
                class='material-symbols-outlined twcss-w-[2rem] twcss-flex-shrink-0 twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#3D8124'
              >
                <path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
              </svg>
              <span class='twcss-leading-[2.2rem]'
                >Especially beneficial when paired with Hem Hero® or Hem Rescue® – providing inside-out support.
              </span>
            </li>
            <li>
              <svg
                class='material-symbols-outlined twcss-w-[2rem] twcss-flex-shrink-0 twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#3D8124'
              >
                <path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
              </svg>
              <span class='twcss-leading-[2.2rem]'
                >Dosage: 2 capsules in the morning and 2 in the evening – designed for consistency and comfort.
              </span>
            </li>
          </ul>
          <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-text-black'>
            <strong>Best For</strong>: Anyone struggling with constipation or irregularity—especially those managing
            active hemorrhoid symptoms.
          </p>
          <a
            href='/pages/hem-easy-flow-fiber™'
            class='twcss-block hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-font-heading twcss-leading-none twcss-rounded-[.3rem] twcss-mt-[2rem] twcss-py-[1.2rem] twcss-px-[2.4rem] lg:twcss-text-[2rem] twcss-text-[1.6rem] twcss-text-white twcss-bg-[--accent-color] twcss-font-semibold twcss-w-full twcss-text-center'
            >LEARN MORE</a
          >
          <a
            href='/products/easy-flow-fiber'
            class='twcss-block hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-font-heading twcss-leading-none twcss-rounded-[.3rem] twcss-py-[1.2rem] twcss-px-[2.4rem] lg:twcss-text-[2rem] twcss-text-[1.6rem] twcss-text-white twcss-bg-[--accent-color-2] twcss-font-semibold twcss-w-full twcss-text-center'
            >BUY NOW</a
          >
        </div>
        <div class='twcss-flex twcss-flex-col lg:twcss-gap-[2rem] twcss-gap-[1rem] lg:twcss-p-[1rem]'>
          <img
            src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/shop-hem-rescue-png-600x439.png?v=1740999313'
            width='auto'
            height='auto'
            alt='Hem Hero'
            class='twcss-w-full'
          >
          <h4 class='twcss-mt-2 lg:twcss-mb-4 lg:twcss-text-[2.8rem] twcss-text-[2.2rem] twcss-leading-none twcss-text-[--secondary-color] twcss-font-semibold'>
            HEM RESCUE™
          </h4>
          <h5 class='twcss-mt-2 twcss-mb-4 lg:twcss-text-[2.8rem] twcss-text-[2.2rem] twcss-leading-none twcss-font-medium'>
            Ongoing Support to Keep Hemorrhoids From Coming Back
          </h5>
          <ul class='twcss-text-lg twcss-flex twcss-mb-auto twcss-gap-[1rem] twcss-flex-col *:twcss-flex *:twcss-items-start *:twcss-text-[1.8rem] *:twcss-text-black'>
            <li>
              <svg
                class='material-symbols-outlined twcss-w-[2rem] twcss-flex-shrink-0 twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#3D8124'
              >
                <path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
              </svg>
              <span class='twcss-leading-[2.2rem]'
                >Witch Hazel Extract – astringent properties help shrink inflamed tissue and reduce irritation.
              </span>
            </li>
            <li>
              <svg
                class='material-symbols-outlined twcss-w-[2rem] twcss-flex-shrink-0 twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#3D8124'
              >
                <path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
              </svg>
              <span class='twcss-leading-[2.2rem]'
                >Butcher’s Broom Root – promotes vasoconstriction to tone and tighten swollen veins, especially in the
                lower rectal area.
              </span>
            </li>
            <li>
              <svg
                class='material-symbols-outlined twcss-w-[2rem] twcss-flex-shrink-0 twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#3D8124'
              >
                <path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
              </svg>
              <span class='twcss-leading-[2.2rem]'
                >Horse Chestnut + Hesperidin combo – synergistically supports circulation and vein wall integrity.
              </span>
            </li>
            <li>
              <svg
                class='material-symbols-outlined twcss-w-[2rem] twcss-flex-shrink-0 twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#3D8124'
              >
                <path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
              </svg>
              <span class='twcss-leading-[2.2rem]'
                >Vitamin C (Ascorbic Acid) – supports collagen formation and vascular healing, critical for recovery and
                long-term prevention.
              </span>
            </li>
            <li>
              <svg
                class='material-symbols-outlined twcss-w-[2rem] twcss-flex-shrink-0 twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#3D8124'
              >
                <path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
              </svg>
              <span class='twcss-leading-[2.2rem]'
                >Gentle yet potent – ideal for maintenance after an acute flare-up has resolved.
              </span>
            </li>
            <li>
              <svg
                class='material-symbols-outlined twcss-w-[2rem] twcss-flex-shrink-0 twcss-h-[2rem] twcss-mr-[1rem] twcss-text-[--accent-color]'
                xmlns='http://www.w3.org/2000/svg'
                height='24px'
                viewBox='0 -960 960 960'
                width='24px'
                fill='#3D8124'
              >
                <path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/>
              </svg>
              <span class='twcss-leading-[2.2rem]'
                >Daily use protocol – 1-2 capsules per day to maintain healthy circulation and prevent future
                discomfort.
              </span>
            </li>
          </ul>
          <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-text-black'>
            <strong>Best For</strong> staying symptom-free – provides long-term protection for those in remission.
          </p>
          <a
            href='/pages/hem-rescue'
            class='twcss-block hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-font-heading twcss-leading-none twcss-rounded-[.3rem] twcss-mt-[2rem] twcss-py-[1.2rem] twcss-px-[2.4rem] lg:twcss-text-[2rem] twcss-text-[1.6rem] twcss-text-white twcss-bg-[--accent-color] twcss-font-semibold twcss-w-full twcss-text-center'
            >LEARN MORE</a
          >
          <a
            href='/products/hem-rescue™'
            class='twcss-block hover:twcss-scale-[.9] twcss-transition-all twcss-duration-100 twcss-font-heading twcss-leading-none twcss-rounded-[.3rem] twcss-py-[1.2rem] twcss-px-[2.4rem] lg:twcss-text-[2rem] twcss-text-[1.6rem] twcss-text-white twcss-bg-[--accent-color-2] twcss-font-semibold twcss-w-full twcss-text-center'
            >BUY NOW</a
          >
        </div>
      </div>
    </div>
  </div>
  <div
    class='twcss-left-0 twcss-overflow-hidden twcss-absolute twcss-w-full twcss-leading-none twcss-bottom-0 twcss-rotate-180 twcss-z-[-1]'
    data-negative='false'
  >
    <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 1000 100'
      preserveAspectRatio='none'
      class='lg:twcss-w-[calc(132%+1.3px)] twcss-w-[calc(210%+1.3px)] lg:twcss-h-[18.9rem] twcss-h-[8rem] twcss-relative twcss-left-1/2 -twcss-translate-x-1/2 twcss-fill-[#C6E1231F]'
    >
      <path class="elementor-shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
      c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
      c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
    </svg>
  </div>
</div>

{% schema %}
{
  "name": "custom section II",
  "settings": [
    // {
    //   "type": "text",
    //   "label": "Video URL",
    //   "id": "video"
    // }
  ],
  "presets": [
    {
      "name": "custom section II"
    }
  ]
}
{% endschema %}
