<div class='color-{{ section.settings.color_scheme }} twcss-overflow-hidden twcss-relative twcss-bg-no-repeat twcss-bg-contain twcss-bg-[top_center] twcss-pt-[5rem]'>
  <div
    class='twcss-left-0 twcss-overflow-hidden twcss-absolute twcss-w-full twcss-leading-none twcss-top-0'
    data-negative='false'
  >
    <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 1000 100'
      preserveAspectRatio='none'
      class='twcss-w-[calc(100%+1.3px)] lg:twcss-h-[13.1rem] twcss-relative twcss-left-1/2 -twcss-translate-x-1/2 twcss-fill-[--accent-color-3]'
    >
      <path class="elementor-shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
      c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
      c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
    </svg>
  </div>
  <div class='custom-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding'>
    <div
      {% if section.settings.full_width %}
        class='page-width'
      {% endif %}
    >
      <div class='twcss-flex twcss-flex-col lg:twcss-pt-[10rem] lg:twcss-pb-[4rem]'>
        <h2 class='lg:twcss-text-[4.5rem] twcss-text-[2.5rem] twcss-font-medium twcss-text-center twcss-text-[--secondary-color] twcss-leading-[5.4rem]'>
          Why Choose Hem Healer®?
        </h2>
        <h3 class='lg:twcss-text-[7rem] twcss-text-[4.5rem] twcss-font-medium twcss-leading-none twcss-text-center'>
          Quality You Can Trust
        </h3>
      </div>
      <div class='lg:twcss-gap-[2rem] twcss-pb-[5rem] twcss-grid lg:twcss-grid-cols-3 twcss-text-black lg:twcss-text-left twcss-text-center'>
        <div class='twcss-flex twcss-flex-col twcss-p-[1rem]'>
          <a href='/collections/frontpage'
            ><img
              src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/fda_cgmp.png?v=1750798813'
              width='auto'
              height='auto'
              alt='FDA CGMP'
              class='twcss-w-full lg:twcss-my-0 -twcss-mt-[2rem] -twcss-mb-[5rem]'
          ></a>
          <h4 class='twcss-mt-2 twcss-mb-4 lg:twcss-text-[2.8rem] twcss-text-[2.2rem] twcss-leading-none twcss-font-bold twcss-font-body'>
            Made in a GMP, FDA-Registered Facility
          </h4>
          <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-tracking-normal'>
            Every Hem Healer® product is made in a clean, safe facility that’s inspected and registered with the FDA, so
            you can trust what’s inside.
          </p>
        </div>
        <div class='twcss-flex twcss-flex-col twcss-p-[1rem]'>
          <a href='/collections/frontpage'
            ><img
              src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/Manufactured_in_Atlanta_GA.jpg?v=1750798793'
              width='auto'
              height='auto'
              alt='Manufactured in Atlanta'
              class='twcss-w-full'
          ></a>
          <h4 class='twcss-mt-2 twcss-mb-4 lg:twcss-text-[2.8rem] twcss-text-[2.2rem] twcss-leading-none twcss-font-bold twcss-font-body'>
            Proudly Manufactured in Atlanta, GA
          </h4>
          <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-tracking-normal'>
            Hem Healer® products are proudly made in Atlanta, Georgia, using high-quality ingredients you can trust.
          </p>
        </div>
        <div class='twcss-flex twcss-flex-col twcss-p-[1rem]'>
          <a href='/collections/frontpage'
            ><img
              src='https://cdn.shopify.com/s/files/1/0550/1560/4383/files/Money_Back_Guarantee_f00d929b-7363-4c11-940e-39ab605c7d3a.png?v=1751467501'
              width='auto'
              height='auto'
              alt='Money Back Guarantee'
              class='twcss-w-full'
          ></a>
          <h4 class='twcss-mt-2 twcss-mb-4 lg:twcss-text-[2.8rem] twcss-text-[2.2rem] twcss-leading-none twcss-font-bold twcss-font-body'>
            100% Money Back Guarantee
          </h4>
          <p class='lg:twcss-text-[1.8rem] twcss-text-[1.5rem] twcss-tracking-normal'>
            If you are not satisfied for any reason, simply contact us for a full refund.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class='twcss-left-0 twcss-overflow-hidden twcss-absolute twcss-w-full twcss-leading-none twcss-bottom-0 twcss-rotate-180 twcss-z-[-1]'
    data-negative='false'
  >
    <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 1000 100'
      preserveAspectRatio='none'
      class='lg:twcss-w-[calc(132%+1.3px)] twcss-w-[calc(143%+1.3px)] lg:twcss-h-[18.9rem] twcss-h-[10rem] twcss-relative twcss-left-1/2 -twcss-translate-x-1/2 twcss-fill-[--accent-color-3]'
    >
      <path class="elementor-shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
      c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
      c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
    </svg>
  </div>
</div>

{% schema %}
{
  "name": "custom section VI",
  "settings": [
    // {
    //   "type": "text",
    //   "label": "Video URL",
    //   "id": "video"
    // }
  ],
  "presets": [
    {
      "name": "custom section VI"
    }
  ]
}
{% endschema %}
