<div class='twcss-flex lg:twcss-flex-row twcss-flex-col twcss-gap-[2rem]'>
  <div class='lg:twcss-w-1/3 twcss-w-full'>
    <img
      src='https://www.hemhealer.com/cdn/shop/files/imgpsh_fullsize_anim_250x.png?v=1704395061'
      alt='guaranteed risk free'
      class='twcss-mx-auto'
      width='auto'
      height='auto'
    >
  </div>
  <div class='lg:twcss-w-2/3 twcss-w-full twcss-flex twcss-flex-col twcss-justify-center'>
    <p class='twcss-text-[2.4rem]'>
      <p class='twcss-font-bold'>Full Money Back Guarantee</p>
      <span class='twcss-font-bold twcss-text-red-600'>IMPORTANT!</span> If you are not 100% satisfied we’ll give you a
      full refund.
    </p>
  </div>
</div>
{% schema %}
{
  "name": "Guaranteed",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": [
    {
      "name": "Guaranteed"
    }
  ]
}
{% endschema %}
