<style>
  .header-bar .svg-wrapper {
    width: 3.6rem;
    height: 3.6rem;
    background: #012161;
    border-radius: 100%;
  }
  .header-bar .list-social__item .icon {
    height: 2.2rem;
    width: 2.2rem;
    color: #fff;
  }
</style>
{%- liquid
  assign social_icons = true
  if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
    assign social_icons = false
  endif
-%}

{% if social_icons %}
  {{ 'component-list-social.css' | asset_url | stylesheet_tag }}
{% endif %}

<div
  class='utility-bar header-bar twcss-bg-[#2486bb1c] twcss-p-[1rem]'
  {{ block.shopify_attributes }}
>
  <div class='page-width twcss-flex lg:twcss-flex-row twcss-flex-col  {% if section.settings.show_social %} twcss-justify-between {% else %} twcss-justify-end {% endif %}'>
    {%- if section.settings.show_social -%}
      {%- render 'social-icons' -%}
    {%- endif -%}
    <div class='twcss-flex lg:twcss-flex-row twcss-flex-col twcss-items-center lg:twcss-gap-[1.6rem]'>
      <div class='twcss-flex twcss-gap-[.5rem] twcss-items-center'>
        <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' height='18px' width='18px' fill='#012161'>
          <path d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12Z"></path>
        </svg>
        <span class='twcss-text-[#012161]'>{{ section.settings.phone_number | escape }}</span>
      </div>
      <div class='twcss-flex twcss-gap-[.5rem] twcss-items-center'>
        <svg
          aria-hidden='true'
          class='e-font-icon-svg e-far-envelope'
          viewBox='0 0 512 512'
          xmlns='http://www.w3.org/2000/svg'
          height='18px'
          width='18px'
          fill='#012161'
        >
          <path d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"></path>
        </svg>
        <span class='twcss-text-[#012161]'>{{ section.settings.email | escape }}</span>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "header bar",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "text",
      "id": "phone_number",
      "default": "+1-863-302-8006",
      "label": "Phone number"
    },
    {
      "type": "text",
      "id": "email",
      "default": "support@hemhealer.com",
      "label": "Email"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "show social media icons"
    }
  ],
  "presets": [
    {
      "name": "header bar"
    }
  ]
}
{% endschema %}
